[2019-09-20 20:07] haggis78 opened #1 "Meeting times?"
Amber and Connor -- what would be a good time for a weekly meeting?

I'm on campus MWF. The best time for me would be after class, but I could also do lunchtime or, if necessary, before 10 AM. If we sometimes need to reschedule, it's OK with me if it's not at the exact same time every single week.
@amberpeddicord @ChinoyIndustries

[2019-09-23 17:15] ChinoyIndustries commented on #1
I'm free after class MWF till 6.

[2019-09-23 17:30] ebeshero commented on #1
@haggis78 I edited your post just now to use the `@username` to "ping" your GitHub partners on this repo. That means the issue will go directly to their notifications--more likely they'll see it quickly. :-)

[2019-09-23 17:31] amberpeddicord commented on #1
@haggis78 I'm free MWF between 11 and 3 and after class Friday or possibly Wednesday if we need to meet then!

[2019-09-26 01:04] haggis78 opened #2 "Project models"
Today after class, we (Amber, Connor and I) discussed the [Emily Dickinson project](http://dickinson16.newtfire.org/) as an example of how a text-comparison project might look.

I came across a different model this evening at https://www.dhi.ac.uk/partonopeus/usersguide.htm#collate . It keeps each section of text intact, though I don't think it highlights textual differences, as we would want to d

[2019-09-26 12:03] ebeshero commented on #2
@haggis78 Much depends on how significant you see the comparisons to be to your research question. For the Emily Dickinson project, comparison was central to what the team wanted to track: how did these poems change in their publication history, and how was Dickinson herself building options into her drafting?

Another kind of edition might want to document minor differences without making the rea

[2019-09-26 12:43] ebeshero commented on #2
I realize just now that what I sent you was, of course, another poem. It's so convenient that poems get semantic lines! Probably you are going to need a strategy to break your text into meaningful units. I tend to like clause-by-clause solutions, but you might just want to encode according to lines on the page. The problem with that, of course, is that you have multiple versions of the document, a

[2019-09-26 12:56] haggis78 commented on #2
Thanks for those resources! We're in good shape in one respect: none of the copies we're dealing with is damaged or fragmentary. In fact, three of them are printed. I'm handling the oldest and most difficult, which is a file copy of the original, dating to 1541. All the other copies, both print and MS, are eighteenth- or nineteenth-century.

You are correct that there is a twofold purpose here: to

[2019-09-30 20:39] ebeshero commented on #2
Here's a code block in markdown:

[code]

[2019-10-01 18:47] haggis78 opened #3 "Starting on collation!"
Amber and Connor --

We now have a rough xml document of the text, taken from the earliest printing, on our repo. The next steps are a) for me to continue pounding out a rough translation, and b) for you to compare this text with the two other printed versions we're looking at. Fuller details are in an xml comment at the top of the document, which I've named BreconChurchCharter.xml.

Are both of y

[2019-10-01 19:46] amberpeddicord commented on #3
@haggis78 Sounds great! And, I should be able to meet at 4 on Friday.

[2019-10-02 01:07] amberpeddicord opened #4 "Beginning the collation"
I started looking into the xml document that @haggis78 posted and I'm a little confused on what documents we should be comparing! Should we follow the URL sources in the comment at the top? Or are there other files somewhere else?

[2019-10-02 07:08] ChinoyIndustries commented on #4
Yeah, the different versions of the text we're collating into the XML are found at those URL sources in the comment. They're two versions of this document that are online already, for us to compare to the new version being provided by @haggis78. Awaiting your call on what markup style we should use for distinguishing revisions!

[2019-10-02 07:11] ChinoyIndustries commented on #3
Sounds good to me! I can definitely meet after class Friday, I'm free until a meeting at 6 (which I can't imagine would be a problem).

[2019-10-02 10:22] haggis78 commented on #4
Connor is correct. At some point we may wish to download images of these pages to use in constructing our website, especially if the permissions come through for us to post manuscript images. And you can feel free to download them now if that's helpful to you.

[2019-10-02 12:10] ebeshero commented on #4
@haggis78 @ChinoyIndustries @amberpeddicord A suggestion to make these sources a little easier to find and navigate: Can one of you prepare a markdown file (like the Readme.md in your repo) to list out the sources with linked URLs? You (well, we) could also mock up a bit of sample code to show what you have in mind for the critical apparatus perhaps on the same document. Markdown files can be push

[2019-10-03 18:15] haggis78 commented on #3
I have created a new folder on Box where I have dropped just the images and files relevant to our project. If you go into the Welsh Fasti Box folder to which you already have access, you will find a folder within that named Brecon_files_for_Box. Again, we're not using Github for these right now because we do not have permission to share these images on the Web yet. (Also, Dr. B said that Github is

[2019-10-04 20:47] ebeshero opened #5 "Batchwork for Image Magick"
@ChinoyIndustries and @ebeshero will meet to experiment with Image Magick to do batch image size reduction at command line (shell). We are permitted to work with images in Box that are inside `Welsh Fasti 2018 > Brecon_Files_for_Box > R_C66_709_Patent_Roll`.

[2019-10-04 20:55] ebeshero opened #6 "Prepping XML to test with new ODD customized TEI schema"
* @amberpeddicord will start a rudimentary ODD over the weekend by M 10/7
* @haggis78 and @ChinoyIndustries @amberpeddicord will prepare some markup in `TEI all` (open a TEI file in oXygen and choose TEI ALL.  Do this over the weekend applying the document architecture mapped out at the project meeting.
* On Monday after class, we'll try finishing the ODD customization to add the `<empty/>`  eleme

[2019-10-07 02:57] amberpeddicord opened #7 "ODD Customization"
@ebeshero I went through and deleted modules that we wouldn't need for the project, and I'm at the point of downloading the ODD! I downloaded it as an ODD Customization and a RelaxNG Compact.

What are the next steps that I should take?

(Also, I created a new label called "project progress" so that we could document issues that are about these sort of "next steps" issues. @haggis78 @ChinoyIndustr

[2019-10-07 03:26] ebeshero commented on #7
@amberpeddicord Terrific! I see that you have saved the ODD file in a dedicated directory in the repo--and that's where it should stay through the project. What we'll do next is customize the schema to allow us an `<empty/>` element the way we discussed last week. And we'll write in some custom attribute values to identify the reading witnesses. Then we'll prepare a new Relax NG schema from that.

[2019-10-07 03:38] ebeshero commented on #7
@haggis78 Can you remind us of the identifiers you want to use for each edition you're comparing? We can work those into the ODD customization!

[2019-10-07 03:59] ebeshero commented on #7
Also, after reviewing [some TEI GitHub issues](https://github.com/TEIC/TEI/issues/1801) and [contributions on the TEI listserv](https://listserv.brown.edu/archives/cgi-bin/wa?A2=ind1808&L=TEI-L&D=0&P=12380), I think I was in the wrong to suggest the use of the `<empty/>` element inside an empty `<rdg>`, or rather, if we do that, we're probably committing tag abuse. `<empty/>` has a specific purpos

[2019-10-07 04:06] ebeshero commented on #7
Also, let's take a look at this bundle of attributes and suggested values: https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.textCritical.html
@haggis78 Do any of these look useful?

[2019-10-07 10:42] haggis78 commented on #7
@ebeshero The identifiers for the printed editions are:

For the manuscripts:

[2019-10-07 10:56] haggis78 commented on #7
@ebeshero Some of the attributes/suggested values in that link should be useful, including the distinction between substantive and orthographic variant readings, and the possibility of false emendations.

[2019-10-07 13:26] ebeshero opened #8 "Project Checkpoint 2"
Great work on meeting project checkpoint 2, @haggis78, @amberpeddicord , and @ChinoyIndustries !
* Your team has been working hard on the stage we call "document data modeling" which is going to be complex as you're writing XML that compares multiple versions of a "work", that is, the documentation of the founding of the Brecon Church School.
* Thanks to @amberpeddicord's work over the weekend, we

[2019-10-07 13:41] ebeshero commented on #8
Just a quick note: I added in some "dummy" attribute values last night that we're ready to change today now that @haggis78 has reported back with info on each of the witnesses. You can probably just open the ODD yourself in oXygen to do that, or I can show you how to do it in the RomaJS tool (which is pretty good for this kind of customization work, I'm finding). If we can take a look at the ODD s

[2019-10-07 17:14] haggis78 opened #9 "Witness list and sigla"
This is the list of textual witnesses and their sigla. It can be updated as necessary, if any other witnesses are found.

The identifiers for the printed editions are:

For the manuscripts:

[2019-10-08 02:01] ebeshero commented on #5
@ChinoyIndustries Before we meet, make sure you have Image Magick installed: https://imagemagick.org/
And here's I think the main resource we want to look at--the command line scripts!
https://imagemagick.org/script/command-line-processing.php

[2019-10-10 00:09] haggis78 commented on #3
@amberpeddicord @ChinoyIndustries -- We now have a unified file to pull, edit, and push, but we need to make sure that we're not working on it at the same time. It's called CharterCollation.xml. I've got dibs on working on it tonight. We need to co-ordinate, so before executing a pull to start working, or a push after working, send up a flare over Github so we'll all know not to create a merge con

[2019-10-10 13:53] haggis78 opened #10 "Collating J"
@ChinoyIndustries  -- I'm putting this up so it can be added to the "projects" to-do chart on Github. In case you weren't around the day we looked at this in class, if you go to the Github BreconChurch website, you'll see a tab for "projects". This allows us to move things around on a workflow chart. Issues can be dropped in to make a to-do list. I'm adding this one so we can keep track of your co

[2019-10-10 13:54] #3 closed, assigned to nobody

[2019-10-10 19:34] ebeshero commented on #5
@ChinoyIndustries Here's some documentation we found for preserving file names in a batch conversion: https://www.imagemagick.org/discourse-server/viewtopic.php?t=32899 (This is iterating over the files in a for-loop.)

[2019-10-10 19:34] ChinoyIndustries commented on #5
Success!

[2019-10-12 13:55] haggis78 opened #11 "Website menu"
@amberpeddicord I was giving some further thought to the menu for the website. The headings I remember discussing yesterday afternoon included "about","sources", "history" and "maps". I think it would be great to add "timeline", "glossary", and "people". Although there are only four people mentioned in the document, we also know about some of the people who made and/or owned the copies we're looki

[2019-10-13 23:16] amberpeddicord commented on #11
@haggis78 I'll try to fit them in! I'm attempting to do a dropdown menu at least for the "About" section, and was thinking of putting "history", "glossary", and a section with information about us. I figured it would help us condense things, but I'm still unsure about exactly how to organize things. Does that sound good for now, though?

[2019-10-14 00:40] haggis78 commented on #11
@amberpeddicord I guess you're right that it would be horizontally crowded. Maybe we will want a vertical menu column on the left instead of a banner menu? But we can rearrange things as we go along, and yes, that sounds find for now.

[2019-10-14 01:53] ebeshero commented on #11
@haggis78 @amberpeddicord I tend to recommend against drop-down menus (even though they seem like a good way to organize a lot of headings). The issue is that they tend to be hard for users to control on different web browsers, and the drop-downs literally cover up portions of the main window. I like how @alnopa9 dealt with this on the Banksy project: she organized the main menu headings to always

[2019-10-14 02:59] amberpeddicord commented on #11
@ebeshero That sounds like a better plan. Thank you!

[2019-11-01 20:48] ebeshero opened #12 "Project Special Meeting: M 11/4 @ 4pm after class"
@haggis78 @amberpeddicord @ChinoyIndustries @alnopa9 @KSD32 We're calling a special meeting of Brecon Team on Monday to review the XPath-ability of your markup and do some experiments with the code that will help with your next stage of project development.  We need **ALL** members of the team to be present also to assess what markup tasks remain.

Some very important projects tasks have yet to be

[2019-11-01 21:00] ebeshero commented on #12
@ChinoyIndustries Some of the team is waiting for you to add collation markup to the XML files before they can proceed. The team needs to know whether you are going to be committing anything so that it can make progress.

[2019-11-02 13:48] amberpeddicord opened #13 "Collating with I"
In manuscript I, every time Ricardus/Richardus is used, its abbreviated like this:

<img width="88" alt="Screen Shot 2019-11-02 at 9 44 51 AM" src="https://user-images.githubusercontent.com/50875456/68071888-b1e2f780-fd55-11e9-9a40-1b0ee997cf01.png">

I'm unsure if this is an abbreviation, but I'm not sure which version (Ricardus or Richardus) it would be considered, or if it is its own version!

[2019-11-02 15:09] haggis78 commented on #13
Amber,

Excellent question! Yes, it's an abbreviation, but whether the scribe was thinking Richardus or Ricardus is not clear. For the moment, what about recording it as a separate option, coding it as Ric'us, and making a note to decide about it later?

Thanks,
Dr. Campbell

William H. Campbell, PhD, LMS, FRHistS
History Department
University of Pittsburgh-Greensburg
Faculty Office Building, Room

[2019-11-02 19:49] amberpeddicord commented on #13
@haggis78 Sounds good!

And one more question: were we coding when the manuscripts replaced æ with e? We may have talked about this, but I can't remember off the top of my head.

[2019-11-02 20:00] haggis78 commented on #13
Amber,

No, we weren't coding for ae/e in general, on the grounds that I thought all the later MSS used ae and only the old roll, R, used e. Are there places where we have ae in the xml file but MS I gives e? It my be hard to tell since sometimes the a in ae is reduced to a very tiny flattened loop on the lower left of the e. You could send me an image if you're not sure. But if it's unmistakably

[2019-11-08 05:27] ChinoyIndustries commented on #10
Finished.

One question: are we distinguishing between ampersands and 'et'? There is only a single place in the collation in which the distinction between the two is already marked with an <app>, however, there are a number of places where J uses the opposite of whichever one is given in the collation. Shall I go and mark those, or remove the one existing instance that is marked?

[2019-11-08 05:30] ChinoyIndustries commented on #12
@ebeshero Apologies for my absence. I do not mean to be a deadbeat project partner, so to speak. J is now collated.

@haggis78 Do we have yet the image specifications needed to present the images on the website? If so I can process those at once.

[2019-11-08 05:31] #5 closed, assigned to ebeshero, ChinoyIndustries

[2019-11-13 15:40] alnopa9 opened #14 "Code Updates"
Hello Brecon Team,
So, it's been bothering me that the drop downs in your nav bar wouldn't work. Good news though! I figured out the problem. Long story short, the javascript that enables the nav bar to be 'sticky' changes the class for that div from 'navbar' to 'sticky'. This means that the css that was assigned to the 'navbar' doesn't fire now. To fix this, I nested the navbar into another div t

[2019-11-13 16:17] alnopa9 commented on #14
Just pushed the bug fix! [commit](https://github.com/haggis78/BreconChurch/commit/b49e13b1d8fd1eca7a0b3f0b74094a3e40d486f0)

[2019-11-13 19:52] alnopa9 commented on #14
Also, made the header image (brecon.png) into an svg (brecon.svg) and updated the files to use the .svg file extension. [commit](https://github.com/haggis78/BreconChurch/commit/967f167dfc4cb21ae7de152d1fb6daafd3c5cd48)

[2019-11-13 20:14] alnopa9 commented on #14
# Jumping with Nav Bar
I noticed with the site that the navbar 'jumps' to the top of the page on 'texts.html'. This was an easy fix. In the css, there is a class called 'content' which holds everything under the navbar. Nest everything, except the inline javascript, in this class. [commit](https://github.com/haggis78/BreconChurch/commit/490bba02c06e44b0b1d328d1a672ab0d1af10411)

@amberpeddicord th

[2019-11-17 15:50] alnopa9 commented on #14
Brecon team, the main points in my latest pushes are that I made the sticky function javascript it's own file that works! That means no more inline javascript. (YAY!! 🎉 ) I also updated the navbar to include two new drop downs; one for reading each manuscript and one that holds the comparison versions of each manuscript.

[sticky push](https://github.com/haggis78/BreconChurch/commit/3fb84ef900c53e

[2019-11-17 16:11] ebeshero commented on #14
@alnopa9 yay!!! What did you need to do to get the separate JS to work? Thanks for taking on this advanced XSLT and JS challenge for the group, and let me know if you want help w `<xsl:result-document>`.

[2019-11-18 03:48] amberpeddicord commented on #14
@alnopa9 Thank you so much for your help on our project! We really appreciate it!

[2019-11-18 16:15] alnopa9 commented on #14
@ebeshero I just had to wrap the window.onscroll function in a window.onload function.

[2019-11-18 18:28] alnopa9 commented on #14
Brecon Team, the latest push includes a new XLST, [full-collation-2](https://github.com/haggis78/BreconChurch/blob/master/full-collation-2.xsl). It outputs a display and comparison version of each manuscript edition. However, it's very brittle and long because it uses `<xsl:result-document>` to do so and relies on a mode for each type and edition. @ebeshero I have another version trying to use dis

[2019-11-18 18:49] ebeshero commented on #14
@alnopa9 Let me see if I can debug the simpler one in your commit...

[2019-11-18 19:24] ebeshero commented on #14
@alnopa9 ...and I'll work on it after class / this evening! What you're producing is similar to what I've been coding for the Frankenstein Variorum project!

[2019-11-18 21:59] alnopa9 commented on #14
@ebeshero What I've been working on.

[commit](https://github.com/haggis78/BreconChurch/commit/ab62d8b0f64b99634c3fda67a26725413a9b7566)
[Collation XSLT](https://github.com/haggis78/BreconChurch/blob/master/xslt/full-collation.xsl)

[2019-11-19 00:11] ebeshero commented on #14
@alnopa9 Okay! I'm pulling it in now and I'll see if I can get it working (and add comments as I go).

[2019-11-19 00:16] alnopa9 commented on #14
@ebeshero I've made some headway, I just have to get the one template rule to work now.

[2019-11-19 00:27] ebeshero commented on #14
@alnopa9 Want me to wait for another commit?

[2019-11-19 00:30] alnopa9 commented on #14
@ebeshero I pushed to fix the javascript links. You can push yours up.

[2019-11-19 00:37] ebeshero commented on #14
Okay...I'll work on what I have here currently, @alnopa9 !

[2019-11-19 00:57] ebeshero commented on #14
@alnopa9 Aha! I know what the issue is...We need to pass a parameter to hold the value of current through your template matches...Yay! Stay tuned and I'll push up the code...

[2019-11-19 01:08] ebeshero commented on #14
Okay! I just pushed up some revised XSLT and output with [the latest commit](https://github.com/haggis78/BreconChurch/commit/328052ca3b9387c811eb6708fe8cf668d8162412)! Pull it in and have a look. I can see that at least some of the editions are getting your `<span class="variance">` elements now...

[2019-11-19 01:11] ebeshero commented on #14
@alnopa9 I'm going to add some comments to this and push again. I want to explain how `<xsl:with-param/>` and `<xsl:param>` work. They are basically *local* variables that get passed along from template to template. We can't declare your `current()` node as a global variable, since your template that matches on the document node is recursing through a set of the editions. So, we pass the `current(

[2019-11-19 01:16] alnopa9 commented on #14
@ebeshero Okay! I'm looking it over and it does make sense why that works.

[2019-11-19 01:24] ebeshero commented on #14
@alnopa9 I just pushed a version with my comments on how xslt parameters work! See [the latest commit](https://github.com/haggis78/BreconChurch/commit/506e13acc2bdfdca2bf905c595d9f17c8b12bfd5). :-)

[2019-11-19 01:31] alnopa9 commented on #14
@ebeshero Thanks! I am going to use this to help add on the comparison editions of the manuscript now!
Edit:
I included in the same xslt another `<xsl:result-document>` to output the comparison editions as well. [commit](https://github.com/haggis78/BreconChurch/commit/9e6e6e62c46d71166c3d7ccb2a253e315b782dd7)

[2019-11-19 01:57] alnopa9 commented on #14
Leaving these links here for reference later when we allow synchronized scrolling on the three comparison editions
[Synchronized Scrolling Stack Overflow Issue (JQuery)](https://stackoverflow.com/questions/31524371/how-to-synchronize-scroll-between-two-windows)
[Synchronized Scrolling Fiddle (JQuery)](http://jsfiddle.net/Lv2dw787/4/)

[Pure JavaScript Synchronized Scroll S.O. Issue](https://stacko

[2019-11-19 20:10] alnopa9 commented on #14
@haggis78 and Brecon team, I have good news!! I got the javascript for the buttons to work on the comparison page! I'm about to push everything up now. If you open the comparison.html file locally, you should be able to play around with it! It doesn't line up perfectly yet, but the next step would be to write an xslt that would produce the javascript file and the comparison file so you don't have

[2019-11-20 21:28] ebeshero opened #15 "JavaScript and SVG Visualization Fun"
Here's a JavaScript-animated SVG visualization of how several medieval source witnesses relate to one other. Each column represents a distinct manuscript edition, and the little rectangles inside represent specific segments that vary in order over the different editions:

http://repertorium.obdurodon.org/dev/test.xhtml?lg=bg

I suspect we may be able to do something similar to help summarize the m

[2019-11-20 21:36] ebeshero opened #16 "Why do we sometimes see nested `<app>` elements?"
@alnopa9 and I were taking a look at the project code and noticing that sometimes there are `<app>` elements nested inside `<rdg>` elements. @alnopa9 has the file open and will post an example following this message. We are confused about what this means, and whether it's intentional or an error that needs to be corrected. Can anyone explain this phenomenon to us?
@haggis78 @amberpeddicord @Chinoy

[2019-11-20 21:40] ebeshero commented on #15
Notice how the JavaScript works: Click a column, and try dragging it around the screen: You can choose to align any one witness against any of the others, and the SVG lines are redrawn to point to the corresponding units in the neighboring witnesses.

[2019-11-20 21:40] alnopa9 commented on #16
[code]

[2019-11-20 21:42] amberpeddicord commented on #16
@ebeshero @alnopa9 That's because the entire opening from "Henricus" to "Anglicanae" is something that isn't in all of the manuscripts, but in the manuscripts where it occurs there are sometimes variations in spelling! So, the entire opening is one app, and the variations in spelling within it is another. I hope I explained that well enough!

[2019-11-20 21:46] djbpitt commented on #15
@ebeshero As you note, the JavaScript support is for drag and drop. To make it work, grab the little crosses at the tops of the columns and slide them left and right. The JavaScript handles the dragging and dropping, and also redraws the connecting lines when one column is dragged across another. The Good News for new learners is that the visualization doesn't depend on JavaScript; the original SV

[2019-11-21 01:08] ebeshero commented on #16
@amberpeddicord Hmmm. I'm maybe not following something about how the witnesses work. In this passage, the outer `<app>` is holding a first "wrapper" `<rdg>` element pointing to witnesses I, C, and O. What I'm not understanding is how an inner `<app>` could sit *inside* that wrapper `<rdg>` and be pointing to completely different witnesses, W, S, and R?

The second "wrapper" app makes it look like

[2019-11-21 01:14] amberpeddicord commented on #16
@ebeshero Oh, I see! You're right, I think I mistakenly coded W, S, and R inside the opening. When I was coding manuscripts, if there was a new change that hadn't been coded, I automatically coded every other witness as having what was already there. But in this case, only "I" and "O" should be in the reading witnesses for 'Supremu' and 'Eccliae'!

[2019-11-21 01:22] ebeshero commented on #16
@amberpeddicord Glad we figured it out...We should do some XPath and check out the other apps that have descendant app elements inside, and make sure there's a good reason for it. I'd recommend finding a different way to encode these though. (@alnopa9 noticed this--thank you!--while she was tinkering with XSLT over your code, and I think she said it was only coming up a handful of times.)

[2019-11-21 12:28] haggis78 commented on #16
There's a straightforward solution for the nested apps problem. The section just needs to be broken up into pieces, and then the witnesses that lack that whole section of text need to be entered as lacking each individual piece. @amberpeddicord @ebeshero  @alnopa9

[2019-11-21 18:29] alnopa9 commented on #14
@amberpeddicord I noticed that the css is not linked properly on the server. I think this is because the repo was reorganized. I would clear the server and upload all of the contents in the site folder. (but not the site folder itself.) I just moved the index.html file out of html and into site to accommodate for this change.

[2019-11-23 13:50] haggis78 opened #17 "Witness D"
@ChinoyIndustries -- I just had a look at D. It's a bit busier than our other MSS. There are notes in the margin, but as far as I can tell, they are just guide words summarizing what is in the text next to it. These we can ignore. However, there are also numerous insertions and corrections within the text itself, written between the lines. We haven't figured out how we are coding that with the TEI

[2019-11-24 14:53] haggis78 opened #18 "Some preliminary findings!"
I ran an XPath search over the xml file as we have it so far:

    ```//rdg[contains(@wit, "O") and contains(@wit, "C")]```

And so on with each pair of witnesses, to see how frequently they agree. There are 242 apps in which each pair can agree or disagree.

Unsurprising finding: Using R as a base, W (earliest printing) is closer than S (second printing), which in turn is closer than J (third pri

[2019-11-24 16:46] ebeshero commented on #18
@haggis78 This is exciting to see, and I'm glad you're able to scope these preliminary findings with XPath! (You may want just to try plotting these out in SVG as witness pairings... What's a good way to display this?)

[2019-11-24 17:11] ebeshero commented on #18
@haggis78 I begin to think this may be well represented in a set of bar plots representing percentages of agreement. Out of all the variant apps, how frequently do distinct pairings of editions agree?

[2019-11-25 19:20] haggis78 opened #19 "XSLT"
Can someone set me straight on this XSLT? I'm trying to output a single line in an html document that should read "Witnesses R and W: 119". Instead, I'm clearly getting this to match on *each* of the 119 instances where Witnesses R and W both appear, so it gives me the desired output, 119 times instead of once! I think I could come up with an ugly fragile brute-force kludge to trim that back down

[2019-11-25 19:31] ebeshero commented on #19
@haggis78 If I understand correctly, you want a count of the number of times witnesses R and W both appear. If that's what you need, you just want to send your sequence of 119 nodes to the XPath `count()` function. You want to apply that function just once, so you want to create your list up in the template match on the document node. (I can imagine you using SVG elements in this way, too: send th

[2019-11-25 20:19] haggis78 commented on #19
@ebeshero I get that in theory, yes. I understand the principle behind what's going wrong, and I know that I want it to apply the function just once -- I just haven't figured out how to accomplish it. When you say "you want to create your list up in the template match on the document node", do you mean all the way up at
 <xsl:template match="/">
        <html>
            <head>
?

[2019-11-26 02:10] ebeshero commented on #19
@haggis78 Yes, that’s right. You don’t want a template to match on those `<rdg>` elements one at a time to output 119 of them. You want to return a single count of all of them.

[2019-12-02 17:16] amberpeddicord opened #20 "SVG 3 Graphing"
For SVG 3, I'm attempting to create a line graph that shows the number of variations within each ```<ab>``` element. I have the following so far:
[code]
I'm having two main problems with this. One of them is that all of the values on my y-axis are still sitting in the same spot, despite me using a $Y-Stretcher variable.
The second issue is that my circles and text for the X-axis aren't showing up

[2019-12-03 19:37] alnopa9 commented on #20
Hey @amberpeddicord
Dr. B is here and we just looked over this issue to make sure that we resolved it yesterday. I am going to close it, but if you need any more help, feel free to reopen it! 😄

[2019-12-03 19:38] #11 closed, assigned to amberpeddicord

[2019-12-03 19:38] #12 closed, assigned to nobody

[2019-12-03 19:38] #16 closed, assigned to nobody

[2019-12-03 19:38] #19 closed, assigned to ebeshero, haggis78, alnopa9, amberpeddicord

[2019-12-03 19:38] #20 closed, assigned to ebeshero

[2019-12-03 22:10] haggis78 commented on #17
I am now collating #D.

[2019-12-04 00:58] alnopa9 commented on #14
@amberpeddicord Can you update the server? I just updated a lot of the pages. [commit](https://github.com/haggis78/BreconChurch/commit/58df066a5da9ad6efc330ca28921a57677f1eddf)

[2019-12-04 01:13] amberpeddicord commented on #14
@alnopa9 Updated! Thank you so much!

[2019-12-04 02:02] amberpeddicord opened #21 "Javascript Timeline?"
Hello all!

I'm opening this issue here because it pertains to the project, but let me know if I should open one on the class page as well!
Basically, I was wondering if it were possible to add javascript to SVG? I want to make an SVG file for our timeline on the website and make javascript that would allow the user to click a certain part of the timeline to bring up the text of what happened in t

[2019-12-04 02:11] alnopa9 commented on #14
@amberpeddicord I fixed some minor bugs. Can you update the server again?

[2019-12-04 02:14] amberpeddicord commented on #14
@alnopa9 Updated!

[2019-12-04 02:21] alnopa9 commented on #14
@amberpeddicord Okay, I think this will be the last one tonight. Can you update the server again?

[2019-12-04 02:21] ebeshero commented on #21
@amberpeddicord Yes indeed! And this is one option for JavaScript Ex 2, by the way, so you're in good shape for that assignment. Start by plotting the timeline itself: Do you want to set the dates on the line proportionally? This will take something called "date arithmetic": It's easiest to plot dates proportionally along a line based simply on numbers of years apart. You can plot circles along th

[2019-12-04 02:23] ebeshero commented on #21
@amberpeddicord I updated this to finish my explanation.

[2019-12-04 02:25] amberpeddicord commented on #21
@ebeshero I would like to plot them proportionally, so that would be great. Thank you!

[2019-12-04 02:37] ebeshero commented on #21
@amberpeddicord to add to it the number of days from the start of the year. There is an XPath function for that, which you may have seen before in a homework exercise in this course: format-date(). You can look it up in the Michael Kay book, pp. 781-788 or [online from the WWW consortium here](https://www.w3.org/TR/xpath-functions-30/#rules-for-datetime-formatting). One of those format-date "pictu

[2019-12-04 02:37] ebeshero commented on #21
Oops! I messed up my comment--can't type tonight. Let me repost this...

[2019-12-04 02:39] ebeshero commented on #21
@amberpeddicord Do you want to plot months and days? Or are years okay? Let me explain:

With years, you can treat one year as like one whole number: 1518 to 1519 is the difference of 1 * $spacer.

If you want to get super precise with dates inside a year (like March 5, 1519) we can do a little "date arithmetic" with an XPath function here: You'll need to start with a whole number, the year, and a

[2019-12-04 02:42] ebeshero commented on #21
Think if you want your line to be vertical or horizontal! Either way is fine--that's a design decision. :-)

[2019-12-04 02:44] amberpeddicord commented on #21
@ebeshero We only have years listed, so we don't need to worry about months or days thankfully! Should I just plot the dates on the timeline for now and add the text in when I add javascript, or should that be included in the SVG as well?

[2019-12-04 02:49] haggis78 commented on #21
Sorry to interrupt the fun, but if I push to Github right now, will I cause any conflicts? I've just been working on CharterCollation.xml, and I think I moved an html file (an XSLT-generated output) into a different folder.

[2019-12-04 02:50] alnopa9 commented on #21
@haggis78 I've been pushing to the repo frequently tonight and I know Amber updated a file. I would d a git pull.

[2019-12-04 02:50] ebeshero commented on #21
@haggis78 Pull before you push! Can you do a `git pull`?

[2019-12-04 02:51] haggis78 commented on #21
Sure -- that's not going to overwrite/do a merge conflict on my file at this end? Sorry, paranoid.

[2019-12-04 02:53] ebeshero commented on #21
@amberpeddicord I think you should add the text with this SVG because it's part of the SVG plot. (There's another approach in JavaScript where you can add something called write `innerHTML` where you can add some HTML elements in a space on click or mouse-enter etc., but I don't think there's such a thing as adding `innerSVG`.) So what we do is plot the whole thing as if it's all visible, then do

[2019-12-04 02:54] alnopa9 commented on #21
@haggis78 If it's a file you didn't edit locally, they should just update. If you changed a file that has been updated on the repo, you'll see that when you do a git pull it'll be aborted, stopping your local files from being changed. Your work will be safe. If in doubt, save the files somewhere else on your laptop, do a git pull, and then you can add the files back to the repo and push them up.

[2019-12-04 02:54] ebeshero commented on #21
@haggis78 Well, if you're worried, do a `git add` and a `git commit` right now, and then `git pull`.

[2019-12-04 02:54] amberpeddicord commented on #21
@ebeshero Sounds good, thank you!

[2019-12-04 02:55] haggis78 commented on #21
Following the "if in doubt" advice.

[2019-12-04 02:55] ebeshero commented on #21
@haggis78 The reason for that is, you can add and commit your changes right now so they're part of the git commit history on your local repo. Then when you pull, see if your computer is able to reconcile your commit with the ones made by your team! If it can't, well, you'll have to deal with the merge conflict (and we'll help)! Let us know what happens here.

[2019-12-04 02:57] alnopa9 commented on #21
@amberpeddicord Not to sound like a broken record, but can you update the server again?

[2019-12-04 02:58] ebeshero commented on #21
@alnopa9 I think you and I and Kiara are all members of each project team (we're members of the group that can edit the webspace), so you could get into the server, but I can imagine it's safest to have one member of the team controlling the web space...

[2019-12-04 02:59] amberpeddicord commented on #21
@alnopa9 Updated again!

[2019-12-04 03:03] ebeshero commented on #21
@amberpeddicord You and @ChinoyIndustries (and @alnopa9 )  should `git pull` as well!

[2019-12-04 03:06] ebeshero commented on #21
Is everyone okay? Any merge conflicts?

[2019-12-04 03:06] alnopa9 commented on #21
@ebeshero all is clear on my end.

[2019-12-04 03:06] amberpeddicord commented on #21
@ebeshero I'm good as well

[2019-12-04 03:07] haggis78 commented on #21
Pushed. Done for tonight and out of your way. Carry on!

[2019-12-04 03:08] haggis78 commented on #21
(Actually pushed like 10 minutes ago and the comment didn't load.)

[2019-12-04 19:26] ChinoyIndustries commented on #17
Working on D too as well as generally cleaning up the document.

[2019-12-04 20:10] haggis78 commented on #17
@ChinoyIndustries at this point, for consistency, it would be best not to have two people working on the same witness. D is more complicated than the others. Can you prepare the images of R instead?

[2019-12-04 21:20] ChinoyIndustries opened #22 "Resolving collation"
As we finish up the collation with #D, here's a thread for us to make decisions on individual words and <app>'s that are still in question.

[2019-12-04 22:06] alnopa9 commented on #14
@amberpeddicord I added a toggle switch to the display manuscripts on the site. There is a new javascript file on those pages, the css has been updated, and the ssi needed changed as well. When you get a chance can you update the server? [commit](https://github.com/haggis78/BreconChurch/commit/7c61e4f17e8b236be2aba73c2a82b72abb88ed0f)

[2019-12-04 23:10] haggis78 commented on #22
Good idea. I intend to execute a pull around 7 PM and work on collating more of #D this evening. I'll let you know once I've pushed it back up.

[2019-12-05 02:03] haggis78 commented on #22
OK, done for tonight. Pushed the xml. I figured out the correct way to mark up superscripts, reviewed your work from D, and pushed a bit further ahead.

[2019-12-05 06:51] ChinoyIndustries opened #23 "Patent Roll Images"
before I go through and create images for all of the <ab>'s I thought I should put the first few up and ask for some opinions. there's a new folder in site/images/ called patent-roll-images-web-size, with one set of images that are just the cut segments of the manuscript containing each <ab>, and one set where each <ab> is actually cut out and edited a bit (they're GIFs with transparency). These p

[2019-12-05 13:22] haggis78 commented on #23
Good thinking. I like the edited versions -- are those just cut differently, or is there more to it?

Three thoughts:

1) Because the ab's are in flux in the xml document, it might be best to use letters rather than numbers in the file handles for the images. It would be easier to remember that, say, ab 10 in the text corresponds with image K than with image 11.

2) As we discussed before, line nu

[2019-12-05 13:22] haggis78 commented on #22
Pulling #D.

[2019-12-05 18:49] alnopa9 commented on #14
@haggis78 I got the word count to work in my column svg. The word count is located directly under the AB header for each block, and the numbers underneath that count string lengths for each app in the AB. You'll have to open it locally to view it because it is an html file.
[commit](https://github.com/haggis78/BreconChurch/commit/ddd2e3eb2158f1b15876cfe47a86666e1b23b45c)

[2019-12-05 19:53] haggis78 commented on #22
Done with #D for the day. Pushed xml back up.

[2019-12-07 00:53] alnopa9 commented on #14
Brecon Team, I updated the svg for the edition-svg to now be more compact. Instead of each edition having a whole column to itself, they now have a column that is a certain color. Another addition is the hover effect on the svg. Now, when you hover over any of the string lengths in the AB blocks, the text will display as a tool tip.
[commit](https://github.com/haggis78/BreconChurch/commit/8c0dc1db

[2019-12-07 02:14] #21 closed, assigned to ebeshero, haggis78, alnopa9

[2019-12-07 02:22] ebeshero opened #24 "Text-wrapping for SVG Timeline"
@amberpeddicord I was looking at the SVG timeline with the JavaScript, and also thinking about flexible displays for various sizes of screen (including mobile). Take a look at the 1561-1567 date range: http://brecon.newtfire.org/html/Timeline.html . If the screen isn't very wide, you just can't read all the long text that scrolls on and on to the right. It would be nice to introduce some text-wrap

[2019-12-07 02:38] ebeshero opened #25 "Menu bar SSI issue on Comparison page"
@alnopa9 @amberpeddicord Something's not working on the comparison page with the SSI: http://brecon.newtfire.org/html/comparison.html  and it seems like the menu links are outdated (pointing to Timeline.xhtml for example). I bet it's an easy fix, and maybe you're repairing it already, but I wanted to point it out because with everything else happening on the Brecon website just now it might be eas

[2019-12-07 03:03] alnopa9 commented on #25
@ebeshero Checking it out now!

[2019-12-07 03:08] alnopa9 commented on #25
@ebeshero Fixed! I forgot to remove the navbar from the html after I was done working on it locally and I had to update the navbar because I did still have it linked to xhtml pages. @amberpeddicord server is ready to be updated.
[commit](https://github.com/haggis78/BreconChurch/commit/aa1d413efc13d472bdba394d95c48c975bcf5f3a)

[2019-12-07 18:08] haggis78 commented on #17
Pulling xml to try to finish up #D!

[2019-12-08 02:16] haggis78 commented on #17
Pushed xml. Done for tonight. xml has everything done except for checking some things in R and the printed witnesses. I will check R after you have those images ready, since that will make it easier and more efficient. Can you check the queries in the printed witnesses after the images are ready?

[2019-12-09 02:13] alnopa9 commented on #14
Brecon Team, I got the ab-bar-graph xslt to work! It produces a bar graph for each AB and displays the word counts for each manuscript.
[commit](https://github.com/haggis78/BreconChurch/commit/83214be0071043f435a705732da2508655d37e2d)
[edition-bar-graph-svg.html](https://github.com/haggis78/BreconChurch/blob/master/site/html/edition-svg-bar-graph.html)

[2019-12-09 02:22] ebeshero commented on #14
For those who can’t wait to do a git pull to see it in the browser, here it is with the GitHub htmlpreview prefix:

http://htmlpreview.github.io/?https://github.com/haggis78/BreconChurch/blob/master/site/html/edition-svg-bar-graph.html

[2019-12-09 08:11] ChinoyIndustries commented on #23
encountered some severe technical difficulties. posting completed images now.

[2019-12-10 02:05] alnopa9 commented on #14
Brecon Team, I have updated the word count bar graph to include a title and finished the bar graph for the string counts.
[commit](https://github.com/haggis78/BreconChurch/commit/602ea1d573e0acdaf10de6c7a792137b936feb6b)
[Word Count Bar Graph](https://github.com/haggis78/BreconChurch/blob/master/site/html/edition-svg-word-count-bar-graph.html)
[String Count Bar Graph](https://github.com/haggis78/B

[2019-12-10 02:38] haggis78 commented on #14
@alnopa9 Awesome. FYI in my editing over the weekend I subdivided some of the `<ab>`s, because that turned out to be the consensus of the manuscripts. I assume that your code is written to automatically adapt to the `<ab>`s it finds, wherever they are?

[2019-12-10 02:39] alnopa9 commented on #14
@haggis78 Yes, I can run everything through the XSLTs again to make them up to date.

[2019-12-10 15:30] alnopa9 commented on #14
Brecon Team, I finished the [ab comparison page](https://raw.githubusercontent.com/haggis78/BreconChurch/master/site/html/edition-svg.html). It's a bit lengthy, so I had to link to the raw view of the code. There are now two check boxes in the header (to the right of the comparison drop down), one to make the string count bar graphs visible and one to make the word count bar graphs visible. The on

[2019-12-10 16:05] #1 closed, assigned to nobody

[2019-12-10 16:05] #2 closed, assigned to haggis78, ChinoyIndustries, amberpeddicord

[2019-12-10 16:05] #4 closed, assigned to haggis78

[2019-12-10 16:05] #6 closed, assigned to nobody

[2019-12-10 16:05] #7 closed, assigned to nobody

[2019-12-10 16:05] #8 closed, assigned to nobody

[2019-12-10 16:05] #9 closed, assigned to haggis78

[2019-12-10 16:05] #10 closed, assigned to ChinoyIndustries

[2019-12-10 16:05] #13 closed, assigned to nobody

[2019-12-10 16:05] #17 closed, assigned to ChinoyIndustries

[2019-12-10 16:05] #18 closed, assigned to nobody

[2019-12-10 16:05] #22 closed, assigned to haggis78, ChinoyIndustries

[2019-12-10 16:05] #23 closed, assigned to nobody

[2019-12-10 16:05] #25 closed, assigned to nobody

[2019-12-11 13:54] amberpeddicord commented on #24
@ebeshero I'm trying to use the ```<foreignObject>``` elements, but I'm getting an error message on my SVG file that says "Unexpected element 'foreignObject'". It's doing the same for my div elements. Is there any way to fix this?

[2019-12-11 14:22] ebeshero commented on #24
@amberpeddicord I see [your commit this morning](https://github.com/haggis78/BreconChurch/commit/d8aa5ccecfac05393837f0ac5dc6cccd9c60a163) with the `<foreignObject>` element in it, so I'll see if I can help. It's an oXygen error, right? I'll see what I can find out.

[2019-12-11 14:38] ebeshero commented on #24
@amberpeddicord I notice that when I open the HTML file with the SVG (with `<foreignObject>` elements) embedded in it, oXygen is happy with the file. However, if I extract that SVG and open it by itself as an SVG file, that's when I see the error message. I think this isn't a problem for us because:
* `<foreignObject>` is intended for the exact use for which you're applying it: it's for a combinat

[2019-12-11 14:40] ebeshero commented on #24
I wonder whether we should file a bug report with oXygen about `<foreignObject>` or open an issue on the oXygen email list? I'll ask around...oXygen's validation of SVG ought to recognize its own foreignObject element. But I wonder if it's only supposed to be valid in a context when SVG is embedded inside an HTML page?

[2019-12-11 18:03] amberpeddicord commented on #24
@ebeshero I was wondering the same thing! As far as the javascript goes, I started messing around with changing the text elements in our javascript file as well, but it wasn't working. I have this code
[code]
and it wasn't working, so I was wondering what I did wrong here. Thanks!

[2019-12-11 18:04] amberpeddicord commented on #24
@ebeshero Would it be an issue with having ```<div>``` elements inside the foreign object elements? Should I put the class attribute onto those or should I use the foreignObjects ones?

[2019-12-11 18:16] ebeshero commented on #24
@amberpeddicord Yes--that was exactly what I'd recommend doing: Put the `@class` on the `<div>` elements which are literally what you'll be showing and hiding. I think the `<foreignObject>` element simply permits a changeover to HTML elements, and is not itself a display element. Let's see if that works?

[2019-12-11 18:39] amberpeddicord commented on #24
@ebeshero The javascript still isn't working, did I do it correctly:
[code]

I noticed that on the timeline page, the javascript for the menu bar also isn't working, so it may be an issue with how I'm associating it.

[2019-12-11 20:19] ebeshero commented on #24
@amberpeddicord Have you checked to update your CSS file about the show / hide properties and whether they're updated for your new elements on the page?

[2019-12-11 20:20] ebeshero commented on #24
Also, sorry for my delay!

[2019-12-11 22:45] amberpeddicord commented on #24
@ebeshero I checked, but the properties that I had didn't need to be changed because I only moved the class attribute, so they should still be working. What updates should I try making?

[2019-12-11 22:51] ebeshero commented on #24
@amberpeddicord I'm not sure without taking a closer look at the code. Here's a question: does the other JS work on the page you're developing? You mentioned earlier that none of the JS files were working and that might be a clue. I wonder if...
* we need to combine them together into one JS file (in case of confusion in the sequence of JS events)
* something's up with the switching into a new nam

[2019-12-11 22:52] ebeshero commented on #24
@amberpeddicord By the way, I strongly suspect it's the combination of different JS files that's to blame here. I've seen that as a problem in other projects before now.

[2019-12-11 22:53] ebeshero commented on #24
One way to test the first possibility is to remove the other JS files and apply them one at a time to see if they work by themselves. Maybe start there.

[2019-12-11 22:57] amberpeddicord commented on #24
@ebeshero We have a merge conflict! How do I resolve those again?

[2019-12-11 22:58] ebeshero commented on #24
Let's see...First of all, add and commit your files to your own local computer so you don't lose your work.

[2019-12-11 22:59] ebeshero commented on #24
Then, note what happens when you try to do a `git pull`. If we're lucky, git will know what to do and reconcile the new material with your local commit.

If we're unlucky, you'll have to do some manual editing to resolve an area of conflict in a file.

[2019-12-11 23:01] amberpeddicord commented on #24
@ebeshero That worked! The updated files are pushed now.

[2019-12-11 23:06] ebeshero commented on #24
@amberpeddicord Hmmm. Two questions:
Did you push the Timeline.html file with this last commit? (Because what's on the repo that I see was updated 4 hours ago.)

Can you tell me about the status of the other JS files on the Timeline.html page? And have you tried isolating them to see if they work when the others are not associated with the HTML?

[2019-12-11 23:08] amberpeddicord commented on #24
I did!

And I tried to isolate just the timeline.js file but that also didn't seem to work, either.

[2019-12-11 23:10] ebeshero commented on #24
So, none of the JS files are working? Or just the one that goes over the SVG isn't working? (I know--I need to pull these in and open them up and take a look.)

[2019-12-11 23:11] amberpeddicord commented on #24
The javascript for the menu bar is working on all of the other pages, so it's just an issue with the timeline page.

[2019-12-12 00:32] ebeshero opened #26 "Project ODD HTML documentation and source TEI on Brecon site?"
@haggis78 @amberpeddicord @ChinoyIndustries Would you like to feature the HTML documentation of your TEI ODD on the website? Perhaps you could highlight (link directly to) particular portions of it to indicate any customizations of TEI elements that are potentially interesting, or just share it by way of documenting your encoding decisions. Also finding a place to make the source TEI XML available

[2019-12-12 00:37] ebeshero commented on #26
What I'd suggest is to make a space on your site to explain your project methodology with some attention to your encoding methods, to be shared with a mixed community that includes people like you (coding students and historians alike) with some interest (even introductory) in manuscript paleography and digital methods. A really fine example of such documentation is the "Methodology" page from the

[2019-12-12 00:40] ebeshero commented on #24
I'm working on this now. In the meantime, see the issue I posted about documenting the Brecon team's methodology!

[2019-12-12 00:43] amberpeddicord commented on #26
@ebeshero I can get started on this now!

[2019-12-12 00:58] haggis78 commented on #24
I created (and thought I solved) a merge conflict some time after 5 PM. Sorry if I screwed it up. Mea culpa.

[2019-12-12 00:59] ebeshero commented on #24
@haggis78 Try a `git pull` now and make sure all is well?

[2019-12-12 01:00] haggis78 commented on #24
@ebeshero Looks good.

[2019-12-12 01:00] amberpeddicord commented on #24
@haggis78 You're fine, this one was most definitely my fault! And it was a relatively easy fix, because we hadn't made changes to the same file.

[2019-12-12 01:02] haggis78 commented on #26
@amberpeddicord Is there some part of the methodology that I can be working on in parallel? If you've already started I don't know what you might be doing as to structure, and I don't want to work at cross-purposes.

[2019-12-12 01:04] ebeshero commented on #26
Just a comment from the sidelines here: I think it'll be good for @amberpeddicord to organize this documentation, and perhaps @haggis78 you can supplement as needed.

[2019-12-12 01:04] haggis78 commented on #26
Sounds good.

[2019-12-12 01:05] ebeshero commented on #26
Of course I really didn't do that on my first DH project, in which I was in your position, @haggis78. I wrote up the documentation myself, but I think it might be better this way. :-)

[2019-12-12 01:49] ebeshero commented on #24
Well! I have an update on your JavaScript. I found the tiniest of typos in the last function, an extra `s` in one line that I simply deleted. And lo, the JavaScript worked...but....not quite in the way we'd like. As soon as I load the page, I see the timeline. And as soon as my mouse visits a circle, the *entire graph disappears*. Yikes. And I see exactly why that's happening. Take a look at our c

[2019-12-12 01:55] amberpeddicord opened #27 "README.md Updates?"
@haggis78 @ChinoyIndustries Hey team!

I was looking at our project repo, and I noticed that it's been some time since we looked at our README.md file. I think it would help if one of us added more information about our project to it, since it's the first thing people will see when they come to our repo. Right now, we only have a few of our sources listed there, so I think adding more about our pr

[2019-12-12 01:56] haggis78 opened #28 "Font style issues on CSS"
@ebeshero @amberpeddicord @ChinoyIndustries @alnopa9 We'd noticed that the strikethroughs and superscripts we marked up in the xml weren't presenting as such in the html. I added a few lines to the CSS that I hope will accomplish that, If not, they will be easy to find -- they are all the way at the bottom of the CSS.

Now, how to present in html a situation where one scribe actually overwrote ano

[2019-12-12 01:58] haggis78 commented on #27
@amberpeddicord @ChinoyIndustries I'm on it. I'll write something up and you can edit it if you want.

[2019-12-12 01:58] amberpeddicord commented on #28
@haggis78 I updated the server, so those changes should be visible on the site now!

[2019-12-12 02:00] haggis78 commented on #28
@amberpeddicord Didn't work -- trying a different syntax.

[2019-12-12 02:07] haggis78 commented on #28
@amberpeddicord Somehow I created another merge conflict? Working on it. Grrr.

[2019-12-12 02:15] haggis78 commented on #28
@amberpeddicord Solved. I think it was actually because I pushed README.md and then didn't pull before pushing the CSS. Anyway, the new CSS should now be up. Let's give that a try.

[2019-12-12 02:19] amberpeddicord commented on #28
@haggis78 Updated the server again! Let me know if that worked.

[2019-12-12 02:24] haggis78 opened #29 "rdgs not showing for Witness D"
@ebeshero For some reason, the red text (variant readings) isn't showing up in the html for part of Witness D. If you go to the Comparison page and select D and any other witness, then scroll down to the bottom, you'll see what I mean. I checked the xml and don't see anything anomalous there. What could be causing such an outcome?

[2019-12-12 02:25] ebeshero commented on #29
@haggis78 My guess would be there's something missing in the CSS for that witness, but I say that before looking at the actual code...

[2019-12-12 02:27] haggis78 commented on #29
@ebeshero What's odd is that the first 2/3 of D looks fine; this only affects the final part.

[2019-12-12 02:30] ebeshero commented on #29
@haggis78 I was *just* about to post that I didn't see the problem, but I was only looking at the top of the page. So now that I scroll down, with witness D on the left, and witness O next to it, I see:
<img width="921" alt="Screenshot 2019-12-11 21 28 39" src="https://user-images.githubusercontent.com/4014518/70677539-747b5f00-1c5d-11ea-8158-7b4801e12dcb.png">

[2019-12-12 02:31] ebeshero commented on #29
@haggis78 There's the problem, right? Let's see if there's any code there. I wonder if this was last run through XSLT at a moment before D was finished?

[2019-12-12 02:34] ebeshero commented on #24
@amberpeddicord There's another problem I'm trying to sort out. Even with no JavaScript associated and if we comment out the CSS that shuts off display, the `<div>` elements inside `<foreignObject>` are not displaying. I discover that this is because you need to have literal number or percentage values in the `@width` and `@height` attributes on SVG `<foreignObject>`. I'm experimenting now to see

[2019-12-12 02:37] amberpeddicord commented on #24
@ebeshero Ah, I see! On the tutorial I found, it said that the default for those values was "auto", but I was wondering if that would actually work...

[2019-12-12 02:39] ebeshero commented on #24
@amberpeddicord It seems that it doesn't. I can get them to display and give them different widths using either numbers or percents.

[2019-12-12 02:40] haggis78 commented on #29
@ebeshero Yes, that's exactly what I was looking at. I couldn't say when it was last run through XSLT.

[2019-12-12 02:40] ebeshero commented on #29
@haggis78 I inspected those last two elements on witness D using the element inspector tool on my web browser (that made it even possible to isolate those particular p elements inside witness D only: I couldn't have just seen them by opening the HTML without a LOT of hunting). So what I see are two HTML `<p>` elements that lack any `<span class="variances">` elements inside.

[2019-12-12 02:41] haggis78 commented on #29
@ebeshero That is, I know I was running it through my XSLT for the calculation stuff, but not the XSLT for the comparisons page.

[2019-12-12 02:42] ebeshero commented on #29
@haggis78 I would next check your TEI XML to see if witness D is represented for those last two blocks of text.

[2019-12-12 02:43] ebeshero commented on #29
And if it is, go run the XSLT so they'll output, and post the new HTML forthwith to the website.

[2019-12-12 02:44] haggis78 commented on #29
@ebeshero Witness D definitely shows up there in the XML, so I'll try that.

[2019-12-12 02:49] haggis78 commented on #29
@ebeshero OK, I ran it through the Comparison XSLT and saved the HTML, but when I opened the HTML from my computer (without having pushed it etc.), it comes up as a blank page with nothing but the background color. Should I be concerned?

[2019-12-12 02:50] ebeshero commented on #29
@haggis78 ....yes? be concerned. Do you have code coming out? Check that you've actually selected the correct files to process in the XSLT windows...

[2019-12-12 02:52] ebeshero commented on #24
@amberpeddicord I'm reading this StackOverflow on the subject, and the very last piece of advice here seems possibly worth trying: https://stackoverflow.com/questions/16254651/auto-height-for-a-foreignobject-in-svg

[2019-12-12 02:55] haggis78 commented on #29
@ebeshero Confirmed correct files. When I right-click the blank page and say view page source, it looks just like the page source for the actual website from the server, except with additional stuff at the top that I think is the SSI. So the code is there. But the page itself *looks* blank.

[2019-12-12 02:56] ebeshero commented on #29
Do you see text boxes to pull up the files you need, or are you missing those...Oh wait minute...!

[2019-12-12 02:56] ebeshero commented on #29
You have an SSI, don't you?

[2019-12-12 02:57] amberpeddicord commented on #29
@haggis78 I think the problem there might just be because the actual comparison navbar is an SSI! So it won't be visible locally.

[2019-12-12 02:57] haggis78 commented on #29
Yes, it's in a different folder.
So all is probably fine?

[2019-12-12 02:58] amberpeddicord commented on #29
@haggis78 If the files are pushed to the repo, I can do a git pull and update the server! But, I have made some pushes recently, so I'd do a git pull first.

[2019-12-12 02:58] ebeshero commented on #29
That's actually kind of a development problem, isn't it? We might not, in practice, really *want* to have an SSI to contain the checkboxes for comparing these witnesses, because you want to be able to test the views of your files locally *before* putting them on the server. For the long term of this project and your own peace of mind, I'd actually recommend removing this particular SSI on the comp

[2019-12-12 02:59] ebeshero commented on #29
And by "remove this particular SSI," I mean, of course, replace it with the actual code you need to display locally. It's not really a big deal to just paste it into the XSLT in the appropriate place.

[2019-12-12 03:00] haggis78 commented on #29
@amberpeddicord Github says already up to date when I tried to pull, so I should be in the clear to push...

[2019-12-12 03:01] haggis78 commented on #29
@amberpeddicord pushed.

[2019-12-12 03:03] amberpeddicord commented on #29
@haggis78 The server is updated!

[2019-12-12 03:05] haggis78 commented on #29
@ebeshero @amberpeddicord  Annnd... nothing. same as before.

[2019-12-12 03:07] ebeshero commented on #29
@haggis78 Uh oh. I suspect something's not right in the source TEI in those last two blocks because it's not pulling data about witness D...

[2019-12-12 03:08] haggis78 commented on #29
@ebeshero You mean in the main XML file?

[2019-12-12 03:08] ebeshero commented on #29
@haggis78 Yes--in the source TEI XML file. Can you find something in the source XML at that moment in the TEI that *should* be producing a span in witness D's output? Let's take a look at that code.

[2019-12-12 03:09] ebeshero commented on #29
@haggis78 Also, take a look at the comparison data in @alnopa9 's SVG plots about witness D in the last two blocks of the document: It seems as if that XSLT most likely wouldn't be pulling data either.

[2019-12-12 03:11] haggis78 commented on #29
@ebeshero I can tell you it's pulling data for the XSLT I wrote to do the numerical comparisons. Or at least I think so. It's giving the same count of `rdg` s that contain `#D` as of every other `wit`.

[2019-12-12 03:15] ebeshero commented on #29
@haggis78 I wonder if it's something silly like someone leaving out a '#'...only we'd expect your schema to catch that...Let's see some TEI code.

[2019-12-12 03:17] haggis78 commented on #29
[code]

[2019-12-12 03:17] ebeshero commented on #29
Also, I just pushed up the JS Timeline stuff in a state of *in medias res* (unfinished but improving)... so everybody `git pull`.

[2019-12-12 03:19] haggis78 commented on #29
@ebeshero that's the last `app` before the change and the first two `app`s after. I don't see anything out of the ordinary.

[2019-12-12 03:19] ebeshero commented on #29
Hmmm. I don't see anything amiss there either, but something's not right. Maybe we'd better compare the XSLT we're using to process this vs. Alyssa's output SVG files... I wonder why it's skipping D in processing just the last two `<ab>` elements?

[2019-12-12 03:22] ebeshero commented on #29
@haggis78 Here's an idea. Let's set up a dummy source TEI file that *only* contains the last two `<ab>` elements. That is, delete everything else in the `<body>` of the document *except* those two elements as if they were the entire source TEI you need to process. And run the XSLT and look for witness D... I'm trying to see if we can isolate the problem.

[2019-12-12 03:23] ebeshero commented on #29
I don't mean *really* delete everything, of course. But make a new tester copy of the TEI file with JUST those two `<ab>` elements in `<text>` and whatever container elements you're using, and see if we can get them to process.

[2019-12-12 03:36] haggis78 commented on #29
@ebeshero OK, tried that. I tried to save the html to my desktop so I wouldn't mess up the repo and for some reason it refuses? But I can see the output column in oXygen, and the section for D doesn't look any different than the other sections. The `span class="variances"` elements show up in the same places, with text inside them -- but that's the text that won't actually show up on the webpage.

[2019-12-12 03:44] ebeshero commented on #29
@haggis78 Okay. Now, when you run that same code over the complete TEI file, though, you *don't* see those `<span class="variances">` elements in the XSLT output window, right? (Or do you see them?)

[2019-12-12 03:47] ebeshero commented on #24
@amberpeddicord Good news! I repaired the HTML, CSS, and JavaScript together so `<foreignObject>` can work. I introduced an additional `<div>` for one of the entries because it was really too long to deal with tidily in the browser window, and it's working. I also added a `@viewBox` to your SVG element to shrink the plot just a bit and pull the text away from the edges of the screen. I've pushed t

[2019-12-12 03:48] haggis78 commented on #29
@ebeshero Well, when I Inspect Page Source on the html that's been generated in exactly that way, I do NOT see those elements, beginning in exactly that place. Huh.

[2019-12-12 03:49] ebeshero commented on #29
There will be some reason it's not processing, but if you run it over the complete TEI file and don't see those `<span>` elements, we can be sure it's something in the XSLT that's amiss.

[2019-12-12 03:55] ebeshero commented on #29
@haggis78 Having just debugged the SVG / HTML / JS / CSS problem with the Timeline, I'd be happy to take a look at this in more detail after a break. But I wonder if we can figure out why witness D isn't processing. We can also call in @alnopa9 for backup...

[2019-12-12 03:57] haggis78 commented on #29
@ebeshero But wait -- processing it anew, everything shows up as it ought in the Output window. Yet when I then try to save that output html to the folder, a) the folder still says the file was last updated Monday morning (the 9th), and b) when I open it as html, and inspect the source, those bits are missing again. And Amber had run it earlier this evening, correct? And then updated the server an

[2019-12-12 04:10] haggis78 commented on #29
@ebeshero I'm about to turn into a pumpkin. I'll see if the morning brings any clarity. Thank you for your help!

[2019-12-12 04:50] ebeshero commented on #29
@haggis78 I'm not sure what's going on, but maybe I should try running it here and see what's happening...

[2019-12-12 05:00] ebeshero commented on #29
@haggis78 ...okay I ran the XSLT on my computer and I'm remembering @alnopa9 working on this. The XSLT is set up to with an `<xsl:result-document>` that's saving over `comparison.html` in your GitHub repo. I think it's producing exactly the same output that's already there, which is why your computer is registering no change. (Mine doesn't register any change either). I'm seeing some problems in t

[2019-12-12 05:38] ebeshero commented on #29
@haggis78 @amberpeddicord I spent some time comparing output on the GitHub repo vs. what's up on the web server, and the files were different for reasons I don't understand. But I also saw that what was on the GitHub repo featured some old errors that I remember @alnopa9 and I correcting, so I corrected those myself, and in the process I got good, complete output of witness D. I suspect there migh

[2019-12-12 05:46] ebeshero commented on #29
@haggis78 @amberpeddicord If that looks right to you, you should replace the comparison.html file on the web server with this one.

[2019-12-12 14:09] amberpeddicord opened #30 "Menubar and page scrolling issue"
I'm not sure if this is just an issue on my end, but our menubar javascript is having some issues on the site. On most of the pages, once the bar gets to the top of the page, it jumps back down and won't let me scroll to the bottom of the page.

@alnopa9 @haggis78 @ChinoyIndustries @ebeshero

[2019-12-12 14:13] haggis78 commented on #30
@amberpeddicord Yes, that's happening on mine too. It was happening to me before (like earlier this week) but only on the home page index.html. Now it's happening on others. A possibility: I pushed updates to all the SSI's this morning, but the only thing I touched was the Manuscripts drop-down, which I renamed Witnesses. I did start with the Index page and copy and paste from there, so if there's

[2019-12-12 14:17] haggis78 commented on #30
@amberpeddicord Have you pushed anything this AM?

[2019-12-12 14:20] amberpeddicord commented on #30
@haggis78 Yes, I've pushed some html for the methodology page up!

[2019-12-12 14:21] haggis78 commented on #30
@amberpeddicord OK. I've got a merge conflict, but I think it's actually an unresolved one from last night -- a merge file was created and somehow I need to find and delete it.

[2019-12-12 14:22] haggis78 commented on #30
@amberpeddicord So if you could avoid touching the xml, msDesc.xslt, and the output text.html while I try to resolve this, we can avoid creating a more serious conflict. Gah.

[2019-12-12 14:35] haggis78 commented on #30
@amberpeddicord OK, looks resolved now. Carry on.

[2019-12-12 14:39] ebeshero commented on #30
@haggis78 Sorry about the merge issues! If you are updating all the SSI’s, you should probably re-rerun the comparison.xslt that I revised late last night. I removed the special comparison-page-ssi file reference from the comparison.html output last night so we could view the editions locally and check the state of witness D (now appearing with all its variants to the end).

If you re-run that XSL

[2019-12-12 14:42] ebeshero commented on #30
@haggis78 See the last posts on: https://github.com/haggis78/BreconChurch/issues/29

[2019-12-12 14:44] haggis78 commented on #30
@ebeshero OK, reran, saved the html, and pushed it.

[2019-12-12 15:44] haggis78 commented on #30
@amberpeddicord @ebeshero I've discovered another problem with the menu bar. From certain pages -- I think all of them except home -- if I mouse over either "Witnesses" or "Comparison", both menus drop down at the same time, one on top of the other. That means that the top of one menu is inaccessible behind the other menu. Also, the pages with the individual transcriptions no longer work in the "W

[2019-12-12 15:54] alnopa9 commented on #30
@haggis78 @amberpeddicord @ebeshero I'm looking into the problem now.

[2019-12-12 16:02] ebeshero commented on #30
@haggis78 @alnopa9 Yes--I was noticing that too, but it didn't actually register with me that there was something *behind* the short menu on the top. I also noticed that the links on each of the Witnesses on that menu don't go anywhere. I'm wondering whether you need that Witnesses section of the menu at all now that the Comparison view serves as a viewer for the individual witnesses?

[2019-12-12 16:04] ebeshero commented on #30
The overlap-of-menu-sections is particularly problematic here: http://brecon.newtfire.org/html/edition-svg.html

[2019-12-12 16:18] ebeshero commented on #30
Just a reminder of @amberpeddicord's initial post: We're having trouble scrolling down on most pages on the site. Something stops me as I'm scrolling and bounces to the top of the page.

[2019-12-12 16:22] haggis78 commented on #30
I agree with @ebeshero -- the individual witness views are probably not actually necessary since we have the comparison viewer. I do plan to make a page with a more precise transcription of R (original spellings etc.) interspersed with the MS images, but not today.

[2019-12-12 18:01] alnopa9 commented on #30
@haggis78 @amberpeddicord @ebeshero Sorry, I actually ended up going grocery shopping. Now, I'm looking into the problem. I'm noticing the jumping as well, but only on certain pages and it happens once you reach the actual top of the nav bar on scroll.

Other problems I'm noticing:
- broken links
- css problems on the Anonymous Blocks page
- overlapping on drop down menus

I'll try and debug this,

[2019-12-12 18:03] ebeshero commented on #30
Thanks @alnopa9 ! I was wondering if you might want direct access to the web server to make the debugging easier...but you and @amberpeddicord may want to sort that out.

[2019-12-12 18:45] haggis78 opened #31 "Methodology image"
@amberpeddicord I tweaked the Methodology a little but I like what you wrote. Opening the html I note that the image is horizontally stretched (or vertically compressed, if you prefer).

[2019-12-12 18:47] haggis78 commented on #28
@amberpeddicord Alas no.

[2019-12-12 19:06] alnopa9 commented on #29
I didn't read this whole thread, but Witness D just needed updated because I hadn't run the XSLT that outputs the whole page since the markup for D had been completed. As for why the page comes up blank, it's because the nav bar is an SSI, so you'll have to add the code manually to view it locally. All of the text on the comparison page is set to `display: none`. You only view the text once you cl

[2019-12-12 19:12] ebeshero commented on #29
@alnopa9 We have all of witness D up now, having re-run the XSLT. And it appears to be up on the website, too.

[2019-12-12 19:15] haggis78 commented on #28
@amberpeddicord I'm OK with our not solving this particular problem today.

[2019-12-12 19:17] #29 closed, assigned to nobody

[2019-12-12 19:28] haggis78 commented on #30
@amberpeddicord @amberpeddicord I've also realized that there is no link in the menu for TextualAnalysis.html. It's in the repo but not connected to the site. It should be listed in the Analysis drop-down menu. I don't want to go messing with that while you're still debugging the menu bar, though.

[2019-12-12 19:45] alnopa9 commented on #30
@haggis78 I'll add that in while I'm working on it.

[2019-12-12 19:50] alnopa9 commented on #30
@ebeshero @ebeshero @haggis78 I solved the problem and it makes me want to face palm myself... Somehow with all the changes and merge conflicts, we lost the closing `</div>` for the ssi. That's all. I just had to add the closing tag. 🙃

[2019-12-12 20:26] haggis78 commented on #30
@alnopa9 You know, I'd noticed that the opening `<div>` tag was flagged, but I thought "heck, it seems to be working, so that must not matter". Never occurred to me that _that might be why it was not in fact working._

[2019-12-12 20:30] haggis78 commented on #30
@alnopa9 @amberpeddicord I re-did stemma.html and just pushed it. Can that be inserted at the bottom of textualanalysis.html? Amber, I think I understood you to say in the past week that you'd figured out how to do this?

[2019-12-12 20:33] amberpeddicord commented on #30
@haggis78 Yes! If you look at the code for the timeline.html it shows how I did it, but basically you just have to put the code for the svg (including the ```<svg>``` tags) into a div in the html.

[2019-12-12 20:34] haggis78 commented on #30
@amberpeddicord Heck, sounds simple enough that even I can probably do it. Thanks.

[2019-12-12 20:34] amberpeddicord commented on #30
@haggis78 @alnopa9 I updated the server and all looks well! Except there are now *two* menu bars on the main page, but I'm assuming this is an easy fix.

[2019-12-12 20:40] alnopa9 commented on #30
@haggis78 @amberpeddicord Yeah, don't push anything yet.

[2019-12-12 20:42] alnopa9 commented on #30
@amberpeddicord @haggis78 It's easy to fix, but I have to go to work. I get off at 10.
Amber, you could probably fix it. Basically, when I was viewing it locally, I forgot to take out the navbar code from the page. So, that is rendering and the SSI is also inserting its own nav bar. Just remove my code between the two comments where the ssi line goes. (That's why I have thatset up that way because

[2019-12-12 20:44] haggis78 commented on #30
@alnopa9 Thank you for your hard work! So should we leave off pushing anything to github until we get an all-clear from you?

[2019-12-12 21:02] haggis78 commented on #30
@amberpeddicord Success pasting the stemma.svg code into the xslt to output the TextualAnalysis.html. Thanks.

[2019-12-12 21:50] haggis78 opened #32 "Avoiding merge conflicts"
@amberpeddicord -- since we're waiting to hear from Alyssa tonight before pushing anything, let's keep track together of anything we've worked on since our last push so we can avoid merge conflicts once we do. Henceforth I'm going to be pushing files one by one.

I've changed stemma.svg, stemma.html, TextualAnalysis.xsl, TextualAnalysis.html, and history.html. I think that's it.

 I'm going to go

[2019-12-12 22:38] alnopa9 commented on #32
@haggis78 Sorry, I edited my comment to say that you guys can push to the repo freely.

[2019-12-12 22:38] alnopa9 commented on #32
@haggis78 so, push whatever you've done changes to! :+1:

[2019-12-12 23:33] haggis78 commented on #32
@amberpeddicord @alnopa9 OK, I have pushed every file I touched, did a pull too to make sure, and everything up and down the tree is clean. I have to go out (one does not simply miss choir rehearsal this close to Christmas) but will check back in around 9:30.

[2019-12-13 02:38] #32 closed, assigned to nobody

[2019-12-13 03:31] haggis78 opened #33 "Bugs"
@amberpeddicord @alnopa9 @ebeshero Here are the bugs that I'm aware of:

- [x] Drop-down menu giving access to individual witnesses only works from home page
- [x] Page showing witness D by itself does not include the variants (red text). Similar to the former problem with the last part of D on the Comparison page. The D page must not have been output from the XML and display.xsl since I actually

[2019-12-13 03:54] ebeshero commented on #33
@haggis78 @amberpeddicord @alnopa9  Uh oh. It looks like something went wrong with a website update. It's getting late now, so I think the wisest course of action, given the complexity of these bugs, is to give Team Brecon an extension until tomorrow night on this. Is that likely to be helpful?

[2019-12-13 03:57] ebeshero commented on #33
I'm seeing double on the home page...a double title bar and nav bar.

[2019-12-13 04:03] amberpeddicord commented on #33
@ebeshero @haggis78 @alnopa9 I think an extension might be helpful for sure. I know that earlier Alyssa said she had a few small changes that still need pushed, so that might fix some of the bugs.

[2019-12-13 04:04] haggis78 commented on #33
@amberpeddicord @alnopa9 @ebeshero That would be great as far as I'm concerned.

[2019-12-13 04:04] ebeshero commented on #33
Consider an extension granted. I think these bugs are pretty complex, actually, because your site is so intricate at this point. It's a design challenge! (And a learning opportunity, so it's totally worth it.) And of course you want to finish this last coding sprint with a beautiful and functional site!

[2019-12-13 04:21] alnopa9 commented on #33
@ebeshero @amberpeddicord @haggis78 Sorry, I just finished dinner and getting Parker ready for bed. Diving in to the code now! 🏊‍♀

[2019-12-13 04:26] alnopa9 commented on #33
@ebeshero @amberpeddicord So, I just wanted to see if I actually have permissions on the server, that way I wouldn't keep bothering Amber. Turns out, I don't. As long as Amber is okay with it, would I be able to gain permission to the server to make the site functional faster?

[2019-12-13 04:28] amberpeddicord commented on #33
@ebeshero @alnopa9 I'm perfectly fine with that! Is there something I need to do to give you permission?

[2019-12-13 04:34] alnopa9 commented on #33
@ebeshero I'm not entirely sure how she would go about this. Is it just her changing the file permissions?

[2019-12-13 04:40] ajw120 opened #34 "Student Suggestion"
Hello Brecon team!!

I thought your research and this entire project was amazing and so well done. It was such an interesting topic. I thought what you did for it was great, especially the clinking through the documents to spot differences. My only suggestion, I know this is such a reach because you're literally reading Latin, but to have English translations. I am so curious about what is being t

[2019-12-13 04:47] ebeshero commented on #33
@alnopa9 I thought you had permission as a member of the Brecon group! (I thought I'd set all the instructor team as members of each student group this term.)  Let me check on the web server...But if you do, you might not be able to write over files that Amber is the owner of. That's okay: what you do is delete the old file and upload your new file in its place.

[2019-12-13 04:51] ebeshero commented on #33
@alnopa9 I've verified that you (as ama277) are indeed a member of the brecon team group, so you do have access to the directory on newtfire. Let me check and make sure your webspace lets members of the group have write access...

[2019-12-13 04:52] ebeshero commented on #33
@alnopa9 Uh oh...wait a sec. The group doesn't have write access...I'm changing that now.

[2019-12-13 04:56] ebeshero commented on #33
@alnopa9 Okay--brecon team has write access to the directory. The way the web server seems to work is that it recognizes whoever posts as the owner of a given file, and if another team member tries to update the same file, it stops them. You'll probably still not be allowed to save overtop of files that @amberpeddicord has posted, so the way to deal with that is to delete the file and upload a new

[2019-12-13 05:01] alnopa9 commented on #33
@ebeshero I'm updating what I've fixed to the server now!

[2019-12-13 05:49] alnopa9 commented on #33
@hagis @amberpeddicord @ebeshero I think I fixed all of the bugs that you've found so far. I'm going to do one final push to the repo for the night.
[commit](https://github.com/haggis78/BreconChurch/commit/41b0913850b446eedafb445bbb98797953eb0210)

I just went through all of the links to double check and make sure that was broken. I think they are all working, but if anyone wants to take 5 minutes

[2019-12-13 06:13] alnopa9 commented on #24
@ebeshero @amberpeddicord Browsers don't like multiple javascript files in the `<head>`. It chose to run the first one and ignored the second. We hit another problem because browsers also do not like multiple functions that are window.onload. To get around this I made a function called start that holds the two other functions, initialize (your timeline function) and my sticky function, scroll. I t

[2019-12-13 06:14] #24 closed, assigned to nobody

[2019-12-13 06:14] #26 closed, assigned to nobody

[2019-12-13 06:16] #27 closed, assigned to nobody

[2019-12-13 06:27] alnopa9 commented on #28
@haggis78 I added your superscripts to witness D. To make text a superscript in HTML you just wrap it in `<sup>` tags.
[commit](https://github.com/haggis78/BreconChurch/commit/79db261726ce4673f3e71bacf4f289ff01bd894b)

[2019-12-13 12:10] haggis78 commented on #34
Great minds think alike! Yes, that's part of the plan, though I don't think I listed it anywhere as one of the "coming attractions". Now that we can see all the differences between the copies, translation also means choosing *which reading to translate* at each point in the text. (Some of the spelling differences are meaningless; others change the grammar and the meaning.)

[2019-12-13 12:48] haggis78 commented on #33
@alnopa That's fantastic. Thank you so much!

[2019-12-13 12:50] haggis78 commented on #33
@alnopa9 @amberpeddicord Now we have a zombie bug: the red text has disappeared from the last third of the Comparison D text again!

[2019-12-13 12:56] haggis78 commented on #33
@amberpeddicord You and @alnopa9 worked really hard on the "Comparison: Anonymous Blocks" page, and it looks great, but I don't think that users will have any idea what it tells us. Can you write up a paragraph to add at the top so people know what they're looking at? Also I'm unsure whether there's a bug in the AB 1 box: it looks as if some data are missing (compare with the word-count and string

[2019-12-13 13:23] haggis78 opened #35 "Patent Roll images"
@ChinoyIndustries I just had an idea (wish I'd had it earlier!): can you put together a quick html page TODAY, entitled "Patent Roll Images and Transcription", and push it to the repo so it can be added to the site? I don't have the proper transcription ready, but you could just put the `<ab>` images in sequence, and then I'll be able to add the text later? Please let us know ASAP if you're going

[2019-12-13 15:15] alnopa9 commented on #35
@haggis78 I already made an html page like that.
[commit](https://github.com/haggis78/BreconChurch/blob/master/site/html/patent-collection.html)
What do you want the tab to be called for the nav bar?

[2019-12-13 15:22] alnopa9 commented on #33
@haggis78 I reran the comparison xslt and updated the server. Witness D is up to date again. I'll rerun the xslts for the Comparison AB page and see if that helps.

[2019-12-13 15:49] alnopa9 commented on #35
@haggis78 I added the patent-collection.html to the site and it now has a spot on all of the nav bars.
[commit](https://github.com/haggis78/BreconChurch/commit/0eb92c4a25ed362bf906bd01771a169e6087e6ab)

[2019-12-13 16:04] #14 closed, assigned to ebeshero, haggis78, alnopa9, ChinoyIndustries, amberpeddicord

[2019-12-13 16:07] haggis78 commented on #35
@alnopa9 Perfect -- thanks!

[2019-12-13 16:26] #35 closed, assigned to nobody

[2019-12-13 16:42] alnopa9 commented on #31
@haggis78 I fixed the stretched image.

[2019-12-13 16:42] #31 closed, assigned to nobody

[2019-12-13 16:43] #30 closed, assigned to nobody

[2019-12-13 16:44] #28 closed, assigned to nobody

[2019-12-13 16:51] alnopa9 commented on #33
@haggis78 I'm looking at the Comparison AB page in both Firefox and Chrome and in Firefox, the chart is appears in tact. I think there may be a bug in chrome that is stopping parts of the column svg from fully rendering. @ebeshero Have you seen this happen before?

[2019-12-13 16:51] alnopa9 commented on #33
@haggis78 I'm looking at the Comparison AB page in both Firefox and Chrome and in Firefox, the chart is appears in tact. I think there may be a bug in chrome that is stopping parts of the column svg from fully rendering. @ebeshero Have you seen this happen before?

[2019-12-13 17:11] alnopa9 commented on #33
@haggis78 @ebeshero I checked through Microsoft Edge and the chart appears whole on it as well.

[2019-12-13 17:26] haggis78 commented on #33
@alnopa9 @ebeshero Huh. I cleared my cache in Chrome and it still looks like this:
![image](https://user-images.githubusercontent.com/39171157/70819242-b6aeb880-1da3-11ea-849c-5553d1a22457.png)

[2019-12-13 17:28] ebeshero commented on #33
@alnopa9 @haggis78 I'm a little confused here, so I'm just going to post a screen shot from my Firefox browser. Firefox and Chrome show me exactly the same issue when I select to compare word count and string length SVG's: I think this is a different problem than what you're seeing, Bill, but I'll post mine just so we can see it:

<img width="1440" alt="Screenshot 2019-12-13 12 24 06" src="https:/

[2019-12-13 17:29] ebeshero commented on #33
The problem that I see is that when we try to view the SVG plots side by side, the string-counts graph gets cut off. That's something we can manage with a combination of CSS and the `@viewBox` dimensions in the SVG, I think.  Also we could revisit *if* and *when* you need such a long scale on those Word Count plots.

[2019-12-13 17:29] ebeshero commented on #33
Let me see if I can duplicate the problem you're seeing, @haggis78 .

[2019-12-13 17:38] ebeshero commented on #33
@haggis78 @alnopa9 Yes indeed, I see the same problem that @haggis78 identifies in Chrome with part of AB #1's table not carrying data. I'm looking at the code to see if I can isolate what's not working there and why.

[2019-12-13 17:41] ebeshero commented on #33
@alnopa9 I'm going to try to access it via the Developer tools in Chrome... want to try the same? You might spot what's happening before I will...

[2019-12-13 17:50] haggis78 commented on #33
@alnopa9 @ebeshero It's also missing Witness R in the last two blocks.
![image](https://user-images.githubusercontent.com/39171157/70820609-135fa280-1da7-11ea-844a-aacc2a847cf0.png)

[2019-12-13 17:55] ebeshero commented on #33
@alnopa9 Can you help us understand the architecture of this page? From what I'm seeing in the element inspectors, I think you're outputting the text that goes in the little SVG table for an AB, and at the same moment generating the lines for the two possible SVG graphs that appear to its right.

The CSS then controls what we're allowed to see at the same time, right? So if I want to compare strin

[2019-12-13 17:56] alnopa9 commented on #33
@haggis78 @ebeshero I think I found a cause for the bug. I'm changing something in the XSLT now.

[2019-12-13 17:57] ebeshero commented on #33
By the way, this is a classic "rabbit-hole" and I want to step back to say, Priority 1 right now is writing good documentation to explain to a visitor *how* to navigate this page and what kinds of information to find here.

A second priority might be to get your `<title>` element tool-tips to display on the SVG lines, which make the interactivity of the page even better when they work! Mine aren't

[2019-12-13 17:58] ebeshero commented on #33
@alnopa9 Can you help to document the page architecture for future generations of coders?

[2019-12-13 17:59] alnopa9 commented on #33
@ebeshero On it now.

[2019-12-13 18:05] ebeshero commented on #33
Documentation of *how to read this page*, on the other hand, is probably something the team members who did the collation work can be writing up... You could mock it up in a new GitHub issue and then port it to the comparison page on the website?

[2019-12-13 18:11] alnopa9 commented on #33
@ebeshero I'm rewriting the XSLT for the chart now to make it's output easier to read when looking at the code. I'm not sure what I was on when I wrote this because the code is **all over the place**. 😞 I'm including more `<g>` with classes that help identify what you are looking at when viewing the code.

[2019-12-13 18:19] ebeshero commented on #33
@alnopa9 There's one kind of code that we write in haste to "get stuff to work right now," and another kind of code we write to make it so we can even access our work and understand it and share it with others. Not many programmers are patient enough to take care to write that second kind of code, but there are some that make human-readable, self-documenting code a philosophy of their work. It's r

[2019-12-13 18:28] amberpeddicord commented on #33
Sorry all, I just got home from work! @haggis78 What do you need me to work on next?

[2019-12-13 18:46] haggis78 commented on #33
@amberpeddicord While @alnopa9 is debugging the code, could you write a paragraph to go at the top of this page (Comparison - Anonymous Blocks) explaining what it represents?

[2019-12-13 18:48] alnopa9 commented on #33
@haggis78 @amberpeddicord I wrote one for it, but I'm sure Amber could better articulate the purpose for it.

[2019-12-13 18:57] haggis78 opened #36 "ANNOUNCEMENT"
@ebeshero @alnopa9 @ChinoyIndustries @amberpeddicord **TEAM BRECON:** I just found out that I'll be presenting on the manuscripts of the St Davids Statutes at the end of January at a Manuscript Studies Workshop at the MARCO Medieval and Renaissance Studies Institute at the University of Tennessee Knoxville, which has one of the top Med/Ren programs in the United States. Our work on Project Brecon

[2019-12-13 19:00] ebeshero commented on #36
Congratulations @haggis78 and team! This is wonderful news! I think most of us will be continuing on with coding in the spring, so I think we'll be able to continue helping from behind the scenes. :-)

[2019-12-13 19:51] alnopa9 commented on #33
@ebeshero I think I made it more readable.
[commit](https://github.com/haggis78/BreconChurch/commit/c3982c39dd10b70ea1aa107ea57d87969a3c2c49)
[edition-svg](https://raw.githubusercontent.com/haggis78/BreconChurch/master/site/img/svg/edition-svg.svg)

[2019-12-13 19:52] alnopa9 commented on #33
@ebeshero @haggis78 Now, I'll rewrite the actual edition.html.

Edit: Actually, I think I'll rewrite the string and word count svg to be output together. With the word count bar graph on top of the string count.

[2019-12-14 06:29] amberpeddicord commented on #36
@haggis78 That's great to hear! I'm glad I was able to be part of Team Brecon. :-)

[2019-12-14 14:30] ebeshero commented on #33
@alnopa9 Are you noticing as I am how the word count tables don't line up with their graphs when we switch them on to view? That's probably worth changing b/c it makes it hard to read across the page and line up a particular AB. It might mean some spacing issues for viewing the word count tables by themselves...

[2019-12-16 14:21] alnopa9 commented on #33
@ebeshero Sorry, I was working all weekend and didn't get a chance to do anything on the site. I have noticed that and I think I've come up with a solution for it.

[2019-12-23 21:35] ebeshero opened #37 "Semester project evaluations"
Greetings, Brecon Team! I'll be posting our own in-house evaluation of the Brecon project soon in a markdown file to your repo, but this project was so ambitious and unusual as to call for some outside help in the review process. I asked our friend @djbpitt, who is himself a scholar of medieval texts, to respond to the Brecon project and offer some advice for next steps, especially considering tha

[2019-12-23 21:45] ebeshero commented on #37
The interlinear collation that @djbpitt mentions above is represented here on his "PVL" project on the Russian Primary Chronical: http://pvl.obdurodon.org/pvl.html
It's basically a collation table that runs line by line with the different witnesses represented as stacked. I think we discussed this early on, but may be worth revisiting now.

[2019-12-23 23:06] djbpitt commented on #37
Try http://pvl.obdurodon.org/browser.xhtml

[2019-12-24 01:08] ebeshero commented on #37
Here is my evaluation of the project, now posted as a markdown file to this repo:
<https://github.com/haggis78/BreconChurch/blob/master/breconEvaluation-12-2019.md>

@haggis78 @amberpeddicord @alnopa9 @ChinoyIndustries @djbpitt @KSD32

[2019-12-24 16:24] ebeshero commented on #37
I’ve just updated [my project evaluation](https://github.com/haggis78/BreconChurch/blob/master/breconEvaluation-12-2019.md) with some more suggestions on the comparative reading view.

[2020-01-13 21:00] alnopa9 opened #38 "New Bug Issue"
This will be the new bug dump issue. Feel free to add to it if you see anything.

- [ ] New reader that allows for easier variation reading
- [x] Vertical timeline
- [x] Centering on index page
- [x] Fix Graphs page (graph gets cut off at AB 17)
- [ ] Turn off toggle to highlight variances for manuscripts/printings
- [ ] Fix bugs in Anonymous blocks
- [ ] Javascript for bar graphs on AB page
- [x]

[2020-01-13 21:02] #33 closed, assigned to nobody

[2020-01-14 13:01] amberpeddicord commented on #38
@alnopa9 I made changes to the code for the timeline, but when I tried to put it on the site, I didn't have file permissions any longer.

[2020-01-14 14:23] ebeshero commented on #38
@amberpeddicord @alnopa9 I logged in to our server and saw the permission settings for group access had changed from brecon to users. I just reset Amber as owner and brecon as group for all your files. Try now!

[2020-01-14 14:41] ebeshero commented on #38
Well, by "now"...I might have to take newtfire offline for a few minutes this morning. It needs some package updates for security! So if it's unavailable for a moment, come back and try again a little later.

[2020-01-14 14:45] amberpeddicord commented on #38
@ebeshero @alnopa9 It worked! I still have some work to do on it but I was able to put it on the site at least.

[2020-01-14 15:03] ebeshero commented on #38
@amberpeddicord Thanks for putting it up on the site--it's easier to see what you're doing there and how it's coming out for web view. :-) This is definitely a scaling challenge. How small can it get? With the mouseover text appearing, it's okay for the text boxes to overlap each other (as long as all the others are reliably shut off when one is displaying). But you may want a strategy for when al

[2020-01-16 22:06] alnopa9 commented on #38
@ebeshero I have a new reader somewhat put together but there's a major problem with it. Whenever you deselect a checkbox, the checkbox disappears. Even worse, if you select and then deselect the first one, for C, then all of the check boxes disappear. The only way to make them reappear is to reload the whole page. Do you know why this is happening?

[2020-01-16 23:12] ebeshero commented on #38
@alnopa9 I won’t know until I can see the code, but it sounds like the show/hide code is tied to the entire form or the attributes involved aren’t properly matching up. If the JS file hasn’t changed, think about what has changed in the new HTML!

Sent from my iPhone

[2020-01-17 01:11] alnopa9 commented on #38
@ebeshero I found the bug and fixed it. I just need to fix some spacing issues with the layout now.

Update: I fixed the spacing issues.
[commit](https://github.com/haggis78/BreconChurch/commit/6284c05f46ed18b3281b8439640b411a7786629b)

[2020-01-17 01:42] ebeshero commented on #38
Oops! I was just cheering you on, @alnopa9 ! I didn't mean to close this issue! :-) Congrats on the debugging!

[2020-01-17 20:33] alnopa9 commented on #38
@ebeshero @amberpeddicord @haggis78 I have a somewhat working reader now.
[commit](https://github.com/haggis78/BreconChurch/commit/68edef7258704881daa42532cfc61a101f4ec21c)

[2020-01-17 20:37] amberpeddicord commented on #38
@alnopa9 @ebeshero @haggis78 I fixed the text alignment and added a link to our source code to the index page.

[2020-01-18 16:18] amberpeddicord commented on #38
@alnopa9 I have an HTML/CSS question: I'm trying to put an overlay on an image I added to the index page and put a link on it (which I was able to do!). But, I originally had the image centered, and when I added the overlay it changed the positioning, and I don't know how to fix it.

[2020-01-18 19:01] alnopa9 commented on #38
@amberpeddicord I'll look into it now.

Edit: I'm not on my personal laptop, so I just now got everything set up to look at and edit. I did notice that the overlay class is set as display: block, which I think is the problem.

Edit: I think I fixed it! I'm not on my laptop, so I don't have access to the server. Feel free to update the server when you get a chance.

[2020-01-19 21:02] amberpeddicord commented on #38
@alnopa9 Updated! Thank you!

[2020-01-19 21:02] amberpeddicord commented on #38
@alnopa9 Updated! Thank you!

[2020-01-20 01:42] alnopa9 commented on #38
Just updated the Graphs page to include the remaining AB's and be accurate with the ones that are already marked.
[commit](https://github.com/haggis78/BreconChurch/commit/9d3801c478b7bf8287ca29de012080e8404529ac)

[2020-01-20 02:08] alnopa9 commented on #38
Updated the current Comparison page to include superscripts.
[commit](https://github.com/haggis78/BreconChurch/commit/af5f06189347957d8b452f1549adcca72f9da26a)

[2020-01-20 20:58] alnopa9 commented on #38
Just pushed a big update to the repo
[commit](https://github.com/haggis78/BreconChurch/commit/f3a9152bd40d653f3b5825b79eaa95c9bab83281)

[2020-01-20 22:37] alnopa9 commented on #38
@amberpeddicord I updated the timeline to be entirely vertical with working javascript. I'll be home in about 2 hours, but if you see this before then, you can update the server.
[commit](https://github.com/haggis78/BreconChurch/commit/977084fda5ccce068f846cf1df6a09f89346f23f)

[2020-01-21 17:19] alnopa9 commented on #38
@ebeshero @amberpeddicord I no longer have permissions to update the server. Amber, if you do a complete server update, I will be able to see what I need to still change. In the meantime, I'll be working on a third viewer.

[2020-01-21 17:21] amberpeddicord commented on #38
@alnopa9 Updated!

[2020-01-21 17:27] alnopa9 commented on #38
@amberpeddicord I fixed some nav bar issues. Can you push again and  also update the javascript folder on the server?

Edit: Also, update the timeline html page again. I updated the javascript meta line in the head.

[2020-01-21 18:00] alnopa9 commented on #38
Fixed some small bugs
[Updated nav bars](https://github.com/haggis78/BreconChurch/commit/32138ec8168480fc2fb3486c52ce77e596d36974)
[Corrected javascript meta line in head for timeline page](https://github.com/haggis78/BreconChurch/commit/50a9f5f2f69c4be671d1895d851f2468d3f2b5f3)
[Fixed remaining validation issues](https://github.com/haggis78/BreconChurch/commit/02189c29bb9e37884663331e86550b48f660

[2020-01-21 18:06] amberpeddicord commented on #38
@alnopa9 Updated, and the timeline seems to be working!

[2020-01-21 18:19] alnopa9 commented on #38
@amberpeddicord I had to update the SSI for the separate display pages.
[commit](https://github.com/haggis78/BreconChurch/commit/9b3e74910b435277d47fc2f7ae03a1a1ea40c2b2)

[2020-01-24 03:50] alnopa9 commented on #38
Updating with a few commits:
[Updating timeline](https://github.com/haggis78/BreconChurch/commit/2dd616346861bc7258a604c856254790f0cb7b76)
[Updated timeline javascript with loops](https://github.com/haggis78/BreconChurch/commit/77c00565042283094e381856c3b79fba3c855ba8)
[ Updated SSIs to link to stemma on TA page, fixed text and centered graphs on TA page](https://github.com/haggis78/BreconChurch/c

[2020-01-24 05:32] alnopa9 commented on #38
Fixed loops in timeline javascript
[commit one](https://github.com/haggis78/BreconChurch/commit/f7800bf3aafceccbf79e72b21edddaee4d62b6cf)
[commit two](https://github.com/haggis78/BreconChurch/commit/bac0d23c0fcf1d45106e3f9d2cc066c3f1375da8)

@amberpeddicord ready for a server update! 😄

[2020-01-24 15:39] alnopa9 commented on #38
@haggis78 For the stemma, instead of having its own page, now the nav bar links to the part of the textual analysis page that shows the stemma.

[2020-01-24 15:45] amberpeddicord commented on #38
@alnopa9 Updated!

[2020-01-24 15:49] alnopa9 commented on #38
@ebeshero @haggis78
@amberpeddicord and I updated the timeline to be a little more interactive and removed the horizontal scrolling.

[2020-01-24 15:50] haggis78 commented on #38
@amberpeddicord  @alnopa9 I like the new format for the timeline. Being able to click on a given century for an expanded version below is a neat solution to the linear compression problem. Well done.

[2020-01-24 21:44] alnopa9 commented on #38
[Updated the color scheme for the timeline](https://github.com/haggis78/BreconChurch/commit/81bd48df84cec679c4415740a932c561907e0afa)

[2020-01-25 21:47] alnopa9 commented on #38
@amberpeddicord I just got the loops to work for highlighting the shapes for the second timeline! 😸 Ready to update the server! 🚀

[Working timeline](https://github.com/haggis78/BreconChurch/commit/bc64a07db1d2307a1bcd188db0eeb1a61c45e34e)

[2020-01-26 01:09] amberpeddicord commented on #38
@alnopa9 Updated!

[2020-01-26 01:26] amberpeddicord commented on #38
@alnopa9 There was another double header on the timeline page so I fixed that and pushed the changes to the repo and the server!

Edit: I also made like...several Big Errors™ while doing so, but I fixed those!

[2020-01-27 19:25] alnopa9 commented on #38
@amberpeddicord You can update the server for the timeline.

[2020-01-27 19:33] amberpeddicord commented on #38
@alnopa9 Updated!

[2020-01-28 21:06] alnopa9 commented on #38
@amberpeddicord @haggis78 I just pushed tsv tables to use to make the network graphs. There is one for each anonymous Block as well as one to compare each edition as a whole.

[commit](https://github.com/haggis78/BreconChurch/commit/b823a40fdfee546fc91969ed708b0a411df7f3a5)

[2020-01-31 14:29] alnopa9 commented on #38
@amberpeddicord can you update the server?

[2020-01-31 15:31] alnopa9 commented on #38
I just finished up the first rough draft for the network analysis page.

[commit](https://github.com/haggis78/BreconChurch/commit/e58766b64ec7b3b12ac4d767d906b0a6848f4d4c)

[2020-01-31 15:44] amberpeddicord commented on #38
@alnopa9 Updated!

[2020-01-31 16:28] alnopa9 commented on #38
@amberpeddicord I'm not on my computer, does everything look okay?

[2020-01-31 16:29] amberpeddicord commented on #38
@alnopa9 The graphs are showing up, but it looks like there's an issue with the navbar not showing up on that page.

[2020-01-31 16:41] alnopa9 commented on #38
@amberpeddicord there's an error in the file paths on the SSI page then. I'll be home in about an hour to fix it, unless you want to try.

[2020-01-31 16:43] amberpeddicord commented on #38
@alnopa9 I'll be done in class at 11:50 so ill look at it then!

[2020-01-31 17:03] amberpeddicord commented on #38
@alnopa9 All fixed!

[2020-02-03 17:04] alnopa9 commented on #38
Made an interactive table to go on the network analysis page.

[commit](https://github.com/haggis78/BreconChurch/commit/4ee949217f4248c1522c82d9673f32fe317c0bf5)

[2020-02-03 18:50] amberpeddicord commented on #38
@alnopa9 I updated the server!

[2020-02-03 22:59] alnopa9 commented on #38
Updated the network analysis page to highlight individual tds in the right hand table and added a table on the left.
[commit](https://github.com/haggis78/BreconChurch/commit/fc3fae11c720cb22e1d238356ebe1aa8c3717ce4)

@amberpeddicord can you update the server?

[2020-02-04 00:43] alnopa9 commented on #38
Updated the network analysis page to highlight individual lines.
[commit](https://github.com/haggis78/BreconChurch/commit/9205d332d8b4f63c8da172bfa3d1588dd41c3a0d)

[2020-02-04 15:48] amberpeddicord commented on #38
@alnopa9 Updated!

[2020-02-04 18:47] alnopa9 commented on #38
Updated the network analysis page to highlight matching lines on the star graph with their td
[commit](https://github.com/haggis78/BreconChurch/commit/6f09c25ab6951f1aff5376874108f43fa3100d5a)

@amberpeddicord can you update the server?

[2020-02-04 22:17] alnopa9 commented on #38
Removed duplicate highlighting from right hand table
[commit](https://github.com/haggis78/BreconChurch/commit/29fadc29ee17b9f5d1d50701b06dfb986f13a384)

[2020-02-10 00:44] alnopa9 commented on #38
@amberpeddicord I just reorganized the html folder of the site and updated the SSIs to reflect the navbar of the site. I also removed the hrefs under the 'Comparison' drop down tab since those are both in the process of being updated. I made a new graphic to visualize the empty `<app>`s in each edition and will eventually add it to the 'Analysis' tab.
[commit](https://github.com/haggis78/BreconChu

[2020-02-10 20:32] alnopa9 commented on #38
@amberpeddicord Can you update the server? I fixed the file paths in the HTML to allow for the SSIs to work properly.

[2020-02-11 01:29] amberpeddicord commented on #38
@alnopa9 Sorry, I just saw this now. The server is updated!

[2020-02-11 14:34] alnopa9 commented on #38
@amberpeddicord  I just fixed the file paths to properly connect to the individual witnesses
[commit](https://github.com/haggis78/BreconChurch/commit/c822555d839929e6681c9ed7de772dbbeac11217)

[2020-02-11 23:29] alnopa9 commented on #38
@amberpeddicord @ebeshero I just pushed a working heat map that represents the sting length for each rdg
[commit](https://github.com/haggis78/BreconChurch/commit/403826fae5ebcbfd25145fc84e3cc3b32f5fc788)
You can't look at it in the GitHub viewer though because it uses javacript to assign color values :(

[2020-02-12 00:14] alnopa9 commented on #38
Updated the tables in the heat map to be evenly distributed
[commit](https://github.com/haggis78/BreconChurch/commit/c46e8d8785b0b179091b3c798066aee984a3cf63)

I will be adding a color key and swapping the color direction of the heat map.

[2020-02-12 01:24] alnopa9 commented on #38
Added color key to nav bar. Switched colors for gradient, but I didn't like the look. If you want to see it, just change the javascript in the heatmap html to `string-length-heat-map2.js`. I think it reads as too 'cool'.
[commit](https://github.com/haggis78/BreconChurch/commit/3b553da336098768fd8eb48894e47c9b3a5fcb2c)

[2020-02-12 02:38] alnopa9 commented on #38
Finished up the heat map for the night. Added it to the SSIs and ready to be put on the server.
[commit](https://github.com/haggis78/BreconChurch/commit/47de6c6a1f6b6d0313ca4e748aef4378782a8c78)

@amberpeddicord Can you update the server?

[2020-02-12 03:23] amberpeddicord commented on #38
@alnopa9 Updated!

[2020-02-14 19:49] alnopa9 commented on #38
Just pushed a new heat map that tracks similarities between apps
[commit](https://github.com/haggis78/BreconChurch/commit/51dc4b903636fe7fb19a686bf455061c12c0021e)

@amberpeddicord Can you update the server?

[2020-02-18 22:05] alnopa9 commented on #38
I just pushed separate heat maps for each edition that shows the similarity between apps and also which editions they have in common.
[commit](https://github.com/haggis78/BreconChurch/commit/d0b886379d1434d6d16e226f11eabb93220138af)
@amberpeddicord Can you update the server?

[2020-02-19 18:23] amberpeddicord commented on #38
@alnopa9 Updated!

[2020-02-19 18:37] alnopa9 commented on #38
Thanks, @amberpeddicord ! I noticed I have to fix a file paths for one of the links, but the ones heat maps are up and running!
@haggis78

[2020-02-19 22:17] alnopa9 commented on #38
@amberpeddicord Can you update the server?

[2020-02-22 00:35] alnopa9 commented on #38
Updated the heat maps to show empty apps that the witnesses have in common
[commit](https://github.com/haggis78/BreconChurch/commit/5ece82a80d37162526e32a17a85f65abfbd8c72c)

@amberpeddicord Can you update the server?

[2020-02-28 23:10] alnopa9 commented on #38
It's been a while since I last pushed a commit, but I've been working locally on the expandable heat map! This latest push has 3 of the 4 tables up!
[commit](https://github.com/haggis78/BreconChurch/commit/1c5194e2c4042c67cde69cec46a1f5276f41e92d)

@amberpeddicord Can you update the server? 😸

[2020-02-28 23:12] alnopa9 commented on #38
Once I complete the 4th table, one thing I want to add is some sort of symbol to the closed heat that can differentiate between similarities that do contain text and those that do not; similar to how the filled circles are different from the empty ones!
@amberpeddicord @haggis78 @ebeshero
Update:
I finished all 4 tables for the expandable app heat map! 😸
[commit](https://github.com/haggis78/Brecon

[2020-02-29 02:50] alnopa9 commented on #38
Note to self: add two  buttons for mobile users

[ ] - one over the actual heat map
[ ] - one over expandable table

Sort out IDs

[2020-02-29 14:05] haggis78 opened #39 "Comparison menu"
@alnopa9 @amberpeddicord I'm not sure why, but the drop-down menu for Comparison isn't working, and hasn't been for a few weeks. Can this be fixed? It's a key feature of the site (arguably the single most important feature). I'd like to include reference to this in some things in the near future (including a grant application), so if that could be restored to operability as a priority, I would gre

[2020-02-29 15:16] alnopa9 commented on #39
@haggis78 I just took it down because I was working on the viewer, but I can have it back up this afternoon when I get home from work.

[2020-03-01 20:30] alnopa9 commented on #39
@haggis78 I just updated the pages to include the comparison pages again.
@amberpeddicord Can you update the server?

[2020-03-02 20:01] alnopa9 commented on #39
@haggis78 @amberpeddicord and I put the comparison pages back up.

[2020-03-02 20:02] #39 closed, assigned to nobody

[2020-07-28 11:18] ebeshero opened #40 "Javascript update with server transition"
After I transitioned newtfire to the new Debian server, I noticed that *all* of Brecon project's Javascript broke! After studying and researching the problem (and verifying that it wasn't a problem with your paths to the JS files), I discovered it's to do with a package on my server that wants to redirect anything inside directories named "javascript" to another directory of outside our web ecosys

[2020-12-16 16:31] haggis78 commented on #40
@ebeshero I finally got around to doing this as I was working on some unfinished Brecon business. It seems to have worked, but the new js I wrote for the unfinished business -- the http://brecon.newtfire.org/html/witnesses/patent-collection.html page -- works on my computer but only partially works on the server. It fires the test "The page loaded! Yay!" popup, so the path to the js file is correc

[2020-12-16 17:57] ebeshero commented on #40
@haggis78 Is the HTML on the server the same as the HTML on your local directory? Be careful—remember—I made some changes by hand on the server to get your JavaScript working there. Your local files on GitHub maybe don’t match what I have on the server—see my comments above. I am sorry for my brittle solution—imposed in haste once I realized the issue with having a directory named “javascript” on

[2020-12-16 18:23] haggis78 commented on #40
@ebeshero Yes, I made some corrections to the base XML, fixed the XSLT to output HTML with js/ in the filenames, and created and pushed new HTML pages of the individual witness transcripts. All of that works just fine. (I haven't done the multi-column comparison page yet.) So other than that page, the brittle solution is now fixed.
The issue is a brand new file, palaeog.js, which is solely for the

[2020-12-16 18:44] ebeshero commented on #40
@haggis78 The only thing I am aware of is simply not to use or point to a directory named `javascript` on the server. If your other new files are working, there may be a mismatch somewhere in the code. Try looking at the page on the server using the developer tools in your web browser. There is a JS console that can show you what happens with event listeners and function responses.

[2020-12-16 20:33] haggis78 commented on #40
@ebeshero I looked at the developer console and it didn't tell me anything. But here's where it gets weird. It turns out that the js buttons DO work on the server -- but they toggle _the wrong paragraphs_ on and off. Instead of the paragraph right below the button, which is identified by id, it's toggling the paragraph _four paragraphs below_. The first button should show/hide `<p id="n1">`, which

[2020-12-16 23:05] ebeshero commented on #40
@haggis78 Curiouser and curiouser, as Alice said! Well, I am trying not to start a stack of grading, so...let me see if I can tell what’s happening and if I can replicate what you are seeing.

[2020-12-16 23:41] ebeshero commented on #40
@haggis78 Aha! I see that the problem emerges with the addition of your SSI file, because it contains several `<button>` elements. Here is your SSI:

[code]

See? There's going to be a mismatch here. The "zeroeth" button on the server is going to be connected to the navigation bar, and that's the one now designated for holding your event listener. That is probably not quite what you want to have h

[2020-12-17 00:17] haggis78 commented on #40
@ebeshero Oh, that makes sense! I hadn't even thought of `<button>` elements. Thank you!

[2020-12-17 01:06] ebeshero commented on #40
@haggis78 I was thinking about maybe a simpler way to do your JavaScript, perhaps with just one function attached to all your buttons with a certain `@class`. To my surprise, apparently we can now use XPath in JavaScript, which might make things a little easier: You could write one function that would select the next following sibling element or the first child element to show / hide. Take a look

[2020-12-18 18:32] haggis78 commented on #40
@ebeshero I played around with this for a bit. Putting `@class` on the buttons seems to be working fine, and identically on the server and from my hard drive, as it should be. Looking for more examples of XPath in JavaScript, I noted that this page was last updated four days ago and still says that IE doesn't support it, so I decided not to pursue it: https://developer.mozilla.org/en-US/docs/Web/A

[2020-12-18 18:32] #40 closed, assigned to nobody